<div class="js-collection-plp-header">

  <!--  Heading -->
  <div class="app-widget-heading plp-header-heading">
    <div class="app-widget-container">
      <h1 class="app-heading-title">{{ headerTitle() }}</h1>
    </div>
  </div>

  <!-- Description -->
  <div class="app-widget-text-editor plp-text-editor typeset typeset-description-primary">
    <div class="typeset-description-block">

      @if (headerTitle() === 'all lingerie') {

        <p>
          Wrapped in lace, satin, or leather - Honey’s luxury
          <a [routerLink]="['/collections', 'lingerie-sets']">lingerie sets</a>,
          <a [routerLink]="['/collections', 'bras']">bras</a>,
          <a [routerLink]="['/collections', 'thongs']">thongs</a>,
          <a [routerLink]="['/collections', 'stockings']">stockings</a>&nbsp;and
          <a [routerLink]="['/collections', 'suspenders']">suspenders</a>
          are made to inspire confidence,
          <span>empowerment, and unapologetic pleasure</span>.&nbsp;From delicate
          <a [routerLink]="['/collections', 'lace-bras']">lace bras</a>
          to daring
          <a [routerLink]="['/collections', 'bondage-lingerie']">bondage lingerie</a>
          and accessories, every piece is crafted to perfection. Explore lingerie designed for you,
          because every moment deserves a little luxury.
        </p>

      } @else if (collectionType() === 'bras') {

        <p>Plunging
          <a [routerLink]="['/collections', 'push-up-bras']" title="push up bras" >push ups</a>, soft
          <a [routerLink]="['/collections', 'underwire-bras']">underwire bras</a> or
          <a [routerLink]="['/collections', 'bralettes']">bralettes</a> to layer,
          shop Honey collection of luxury women's bras to suit all of your deepest desires. Make hearts race with sultry
          <a [routerLink]="['/collections', 'lace-bras']">lace bras</a>,
          or delve into the world of luxurious&nbsp;
          <a [routerLink]="['/collections', 'lingerie-sets']">lingerie sets</a>
          made for you.
        </p>

      }@else if (collectionType() === 'lace-bras') {

        <p>
          Discover Honey’s collection of luxury lace
          <a [routerLink]="['/collections', 'bras']">bras</a>
          - seductive, sheer, and designed to be seen. From delicate florals to bold cut-outs,
          our lace bras are made to turn heads and ignite desire.
        </p>
        <p>
          Complete the look with matching lace
          <a [routerLink]="['/collections', 'thongs']">thongs</a>,
          <a [routerLink]="['/collections', 'briefs']">briefs</a>,
          <a [routerLink]="['/collections', 'suspenders']">suspenders</a>, and&nbsp;
          <a [routerLink]="['/collections', 'lingerie-sets']">lingerie sets</a>.
          Whether it’s date night, a daring surprise, or a moment of indulgence, shop lace bras
          and lingerie sets today at Honey.
        </p>
      } @else if (collectionType() === 'bondage-bras') {

        <p>
          Bound, whipped, and dripping in desire, discover Honey’s collection of bondage bras
          <a [routerLink]="['/collections', 'bondage-lingerie']"></a>.
          Crafted with leather, luxe gold hardware, and provocative detail, these BDSM-inspired
          <a [routerLink]="['/collections', 'bras']">bras</a>
          are made to awaken your wildest fantasies. Pair with
          <a [routerLink]="['/collections', 'bondage-lingerie']">bondage lingerie</a>, suspenders, and
          <a [routerLink]="['/collections', 'latex-lingerie']">latex</a>
          to complete your look. Whether you're dressing for a night of submission or a
          seductive ménage à trois, our
          <a [routerLink]="['/collections', 'bondage-lingerie']">bondage lingerie</a>
          is made for your deepest, darkest pleasures.&nbsp;Shop bondage bras and matching sets now at Honey.
        </p>
      }
      @else {
        <p>{{  headerDescription() }}</p>
      }

    </div>
  </div>

  <!--  Navigation -->
  <div class="js-collection-plp-navigation">

    @if (navigationNeeded()) {

      <div class="swiper js-plp-header">
        <div class="swiper-wrapper">

          @if (collectionType() === 'all-lingerie') {

            @for (link of plpHeaderData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          } @else if (collectionType() === 'bras') {

            @for (link of plpHeaderBrasData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          } @else if (collectionType() === 'stockings') {

            @for (link of plpHeaderStockingsData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          } @else if (collectionType() === 'lace-bras') {

            @for (link of plpHeaderLaceBrasData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          } @else if (collectionType() === 'bondage-bras') {

            @for (link of plpHeaderBondageBrasData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          } @else if (collectionType() === 'underwire-bras') {

            @for (link of plpHeaderUnderwireBrasData; track $index) {

              <div class="swiper-slide js-plp-slide">
                <a class="js-plp-link" [routerLink]="['/collections', link.url]">{{ link.name }}</a>
              </div>

            }
          }

        </div>
      </div>
    }

  </div>

</div>
