@let list = wishlist();

@if (list !== null) {

  @let products = list.products;

  <div class="wishlist-content-header">
    <div class="wishlist-content-info-center">
      <p>{{ products.length }}&nbsp;Items</p>

      <div class="wishlist-edit-button">
        <button (click)="toggleEditor()" type="button">Edit</button>

        @if (editorOpen()) {

          <div class="wishlist-editor" (mouseleave)="toggleEditor()">
            <button (click)="rename()" type="button">Rename</button>
            <button (click)="move(1)" type="button" [disabled]="isFirst()">Move left</button>
            <button (click)="move(2)" type="button" [disabled]="isLast()">Move right</button>
            <button (click)="delete()" type="button">Delete</button>
          </div>

        }

      </div>
    </div>
  </div>

  @if (products.length === 0) {

    <div class="wishlist-no-content">
      <div class="app-widget-heading">
        <div class="app-widget-container">
          <span>This wishlist is empty.</span>
        </div>
      </div>
      <a [routerLink]="['/collections', 'all-lingerie']" class="button-primary button-large wishlist-notify__button">Continue shopping</a>
    </div>

  } @else {

    <!-- Wishlist products -->
    <div class="wishlist-grid js-grid js-grid-cols-2 js-grid-cols-3 js-grid-cols-4">

    @for (item of products; track $index) {

      <app-wishlist-product-card
        class="app-wrapper"
        [wishlistName]="list.name"
        [productItem]="item"></app-wishlist-product-card>

    }
    </div>

  }

}

