@let shopProduct = product();

<a
  role="button"
  tabindex="-1"
  class="shop-item-image-wrapper"
  (click)="navigateToProduct(shopProduct[index()].url)">

  <figure>
    <img [src]="shopProduct[index()].images[0]" [alt]="shopProduct[index()].name" loading="lazy" fetchpriority="auto">
  </figure>
</a>

<!-- Info -->
<div class="shop-the-look-list__item-info">

  <div class="item-info-wrapper">
    <h3>
      <a class="item-info-title"
         tabindex="-1"
         role="button"
         (click)="navigateToProduct(shopProduct[index()].url)">
        <span>{{ shopProduct[index()].name }}</span>
        <span>{{ shopProduct[index()].description }}</span>
      </a>
    </h3>
    <!-- Price -->
    <div class="price">{{ shopProduct[index()].price | currency }}</div>

    <!-- Colors -->
    <div class="select-item-buttons-group" role="radiogroup">

      @for (item of shopProduct; track $index) {

        <!-- Color Button -->
        <button
          (click)="selectColorItemClick($index)"
          class="select-item-button"
          [class.active]="$index === index()"
          [class]="item.colorClass"
          type="button"
          [title]="item.colorName"></button>
      }
    </div>

    <!--  Add to Bag button  -->
    <button
      (click)="addToCart(shopProduct[index()])"
      type="button"
      [attr.aria-label]="'Add to bag ' + shopProduct[index()].name + ' ' + shopProduct[index()].description"
      class="button-icon button-small">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" focusable="false" class="icon">
        <path d="M8.98173 13.5H2.55601C2.48586 13.4996 2.41659 13.4844 2.35269 13.4554C2.2888 13.4265 2.23171 13.3844 2.18515 13.3319C2.13858 13.2795 2.10357 13.2178 2.0824 13.1509C2.06123 13.084 2.05436 13.0135 2.06226 12.9438L2.94976 4.94375C2.96495 4.82166 3.02408 4.70927 3.11609 4.62761C3.20811 4.54594 3.32673 4.50058 3.44976 4.5H13.5498C13.6728 4.50058 13.7914 4.54594 13.8834 4.62761C13.9754 4.70927 14.0346 4.82166 14.0498 4.94375L14.4998 7.33333" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round"></path>
        <path d="M6 4.5C6 3.83696 6.26339 3.20107 6.73223 2.73223C7.20107 2.26339 7.83696 2 8.5 2C9.16304 2 9.79893 2.26339 10.2678 2.73223C10.7366 3.20107 11 3.83696 11 4.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M14.5 10V15.3333" stroke="currentColor" stroke-linecap="square"></path>
        <path d="M17.1665 12.6667L11.8332 12.6667" stroke="currentColor" stroke-linecap="square"></path>
      </svg>
      Add To Bag
    </button>

  </div>

  <!--  Add To Wishlist Button -->
  <button (click)="addToWishlist(shopProduct[index()])" type="button" aria-label="Wishlist Toggle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none" aria-hidden="true" focusable="false"
         class="icon">
      <path d="M7.59571 2.96285L7.00458 3.55698L6.41345 2.96285C5.26474 1.81251 3.40331 1.81251 2.25878 2.96285C1.11426 4.11319 1.11426 5.98407 2.25878 7.13441L2.84991 7.72854L7.00039 11.9001L11.1509 7.72854L11.742 7.13441C12.8865 5.98407 12.8865 4.11319 11.742 2.96285C10.5975 1.81251 8.73605 1.81251 7.59152 2.96285H7.59571Z" stroke="currentColor" stroke-miterlimit="10"></path>
    </svg>
  </button>

</div>
