
<div #buyForm class="fs-buy-container js-buy-product-form">

  <!-- Header -->
  <div class="buy-product-header">
    <span>Size</span>

    <button (click)="openSizeModal()" class="button-link-icon" type="button">
      Size Guide
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" focusable="false" class="icon">
        <path id="icon-chevron-right" d="M4.625 2.5625L8.0625 6L4.625 9.4375" stroke="currentColor" stroke-linecap="square"></path>
      </svg>
    </button>

  </div>

  <!-- Select Size -->
  <div class="fs-buy-now-form fs-add-to-cart-enabled">
    @let p = buyProductDetails();
    @if (p !== null) {

      <app-buy-product-size
        (fSizeChanged)="getFsSize($event)"
        (cupSizeChanged)="getCupSize($event)"
        [productType]="p"></app-buy-product-size>

    }
  </div>

</div>

<!-- Add to cart button -->
<div class="app-widget js-button-add-to-cart">

  <button
    (click)="addToCart()"
    [class.disabled]="selectDisabled()"
    class="button-primary button-large full-width-button"
    type="button" aria-label="Select Size">{{ buttonTitle() }}

    @if (loading()) {
      <div class="loading-bar loading-bar-white"></div>
    }

  </button>
</div>

@let product = buyProduct();
<!-- Size Guide Anchor -->
<div class="js-anchor-section-desktop" [class.active]="anchorActive()">
  <div class="js-anchor-container">

    <!-- Product image -->
    <a class="js-anchor-image-wrapper"
      role="presentation"
       [attr.aria-label]="product.name"
      [routerLink]="['/products', product.url]">

      <figure>
        <img
          [alt]="product.name"
          [src]="product.images[0]"
          loading="lazy"
          fetchpriority="auto"
          sizes="58px">
      </figure>
    </a>

    <!-- Product info -->
    <div class="js-anchor-product-info">
      <!-- Name -->
      <div class="truncate text-button uppercase">
        {{ product.name }}
        <span class="text-button-subtitle">{{ product.description }}</span>
      </div>
      <!-- Price -->
      <div class="truncate text-muted js-anchor-price">{{ product.price | currency }}</div>
    </div>

    <!-- Colors -->
    <div class="js-anchor-colors">
      <app-collection-color-button
        (itemSelected)="colorSelected($event)"
        class="js-colors-button"
        [index]="index()"
        [collectionItem]="productItems()"></app-collection-color-button>
    </div>

    <!-- Anchor button -->
    <button (click)="scrollToAnchor(buyForm)"
            class="text-button js-anchor-button uppercase"
            type="button">
      <span>Select a size</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="none" aria-hidden="true" focusable="false" class="icon">
        <path class="icon-chevron-down" d="M9.75 4.5L6 8.25L2.25 4.5" stroke="currentColor" stroke-linecap="square"></path>
      </svg>
    </button>
  </div>
</div>
