@if (open()) {

  <div class="popup-main" (mousedown)="mouseDown($event)" [class.active]="active()">

    <div class="popup-modal" [class.active]="active()">

      <div class="popup-modal-container">

        <div class="popup-modal-header">

          <!-- Heading -->
          <div class="popup-modal-heading">
            <h2 class="heading-title">{{ popupType() }}</h2>
          </div>

          <!-- Close Button -->
          <button (click)="popupClose()" class="popup-modal-close-button" type="button" aria-label="Close">
            <span>
              <svg viewBox="0 0 14 14" focusable="false" aria-hidden="true">
                <path stroke-linecap="round" d="M2.5 2.5 7 7m4.5 4.5L7 7m0 0 4.5-4.5M7 7l-4.5 4.5" vector-effect="non-scaling-stroke"></path>
              </svg>
            </span>
          </button>

        </div>

        <div class="popup-modal-body">
          <div class="popup-modal-body-container modal-typeset">

            @if (popupType() === 'privacy policy' || popupType() === 'terms of service') {

              <span>Please review our&nbsp;</span>
              <a [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a>
              <span>&nbsp;on the website.&nbsp;<br><br></span>

            } @else if (popupType() === 'refund policy') {

              <span>We will happily credit,&nbsp;</span>
              <a [routerLink]="['/returns-exchanges']" target="_blank">refund or exchange</a>
              <span>&nbsp;
                items of the same style for a different size, providing the items meet our
                terms and conditions.
              </span>

            } @else if (popupType() === 'contact information') {

              <span>
                Our customer obsessive honeys are here to help you. If you have any enquiries,
                please do not hesitate to contact us at&nbsp;
              </span>
              <a href="mailto:honey@honey.com">honey&#64;honey.com</a>
              <span>.</span>

            } @else if (popupType() === 'shipping') {

              <span>Please review our&nbsp;</span>
              <a [routerLink]="['/shipping-delivery']" target="_blank">Shipping & Delivery</a>
              <span>&nbsp;information on the website.&nbsp;<br><br></span>

            }

          </div>
        </div>

      </div>

    </div>

  </div>

}
