<header class="account-header">
  <section class="account-header-section">

    <div class="account-container">

      <div class="account-header-wrapper">

        <!-- Mobile Burger -->
        <div class="mobile-account-wrapper">
          <button
            (click)="triggerMainNavigation()"
            class="main-navigation-button" [attr.aria-expanded]="navOpen()">

            <span>
              <svg class="icon-open" viewBox="0 0 14 14" focusable="false" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.5 3h9m-9 4h9m-9 4h9" vector-effect="non-scaling-stroke"></path>
              </svg>
              <svg class="icon-close" viewBox="0 0 14 14" focusable="false" aria-hidden="true">
                <path stroke-linecap="round" d="M2.5 2.5 7 7m4.5 4.5L7 7m0 0 4.5-4.5M7 7l-4.5 4.5" vector-effect="non-scaling-stroke"></path>
              </svg>
            </span>

          </button>
        </div>

        <!-- Logo -->
        <a [routerLink]="['/']" class="account-button account-logo">
          <img src="/assets/images/logo/honey-logo-2025.svg" alt="Honey logo" loading="lazy">
        </a>

        <!-- Desktop Navigation -->
        <nav class="desktop-account-navigation">
          <ul>
            <li>
              <a [routerLink]="['/account/orders']" routerLinkActive="active"
                class="account-button" (click)="navigateTo('orders')" tabindex="-1">Orders</a>
            </li>
            <li>
              <a [routerLink]="['/account/profile']" routerLinkActive="active"
                class="account-button" (click)="navigateTo('profile')" tabindex="-1">Profile</a>
            </li>
          </ul>
        </nav>

        <!-- User -->
        <div class="user-account">
          <a class="account-button" (click)="navigateTo('profile')">
            <div class="user-account__profile">
              <div>
                <span>
                  @if (userLetter() === null) {
                    <svg viewBox="0 0 14 14" focusable="false" aria-hidden="true">
                      <circle cx="7" cy="7" r="5.5" vector-effect="non-scaling-stroke"></circle>
                      <circle cx="7" cy="5.5" r="1.75" vector-effect="non-scaling-stroke"></circle>
                      <path stroke-linecap="round" stroke-linejoin="round" d="m10.5 11-.088-.11A4.37 4.37 0 0 0 7 9.25a4.37 4.37 0 0 0-3.412 1.64L3.5 11" vector-effect="non-scaling-stroke"></path>
                  </svg>
                  } @else {
                    {{ userLetter() }}
                  }
                </span>
              </div>
            </div>
          </a>
        </div>

      </div>

      @if (navOpen()) {
        <div class="nav-underlay" (click)="triggerMainNavigation()"></div>
      }
      <!-- Mobile Navigation Panel -->
      <nav class="mobile-main-navigation" [class.opened]="navOpen()">
        <div class="main-nav-wrapper">
          <ul>
            <li>
              <a [routerLink]="['/account/orders']" routerLinkActive="active"
                 class="account-button" (click)="navigateTo('orders')" tabindex="-1">Orders</a>
            </li>
            <li>
              <a [routerLink]="['/account/profile']" routerLinkActive="active"
                 class="account-button" (click)="navigateTo('profile')" tabindex="-1">Profile</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </section>
</header>
