<div class="swiper swiper-backface-hidden js-about-carousel-swiper">
  <div class="swiper-wrapper">
    <!--Slide -->
    <div class="swiper-slide carousel-slide">
      <div class="app-widget-column">
        <div class="app-widget-container">
          <!-- Image -->
          <a [routerLink]="['/join-honey']" class="swiper-slide-image-wrapper aspect-square">
            <img src="/assets/images/slides/about/Join_Now_Desktop.jpg" alt="" loading="lazy">
          </a>

          <!-- Description -->
          <div class="swiper-slide-image-description">
            <!-- Heading -->
            <div class="app-widget app-widget-heading app-widget-heading-default align-center">
              <div class="app-widget-container">
                <h2 class="app-heading-title">Join Now</h2>
              </div>
            </div>
          <!-- Text -->
            <div class="app-widget align-center typeset-description-primary">
              <div>
                Sign Up to The Honey Club and start earning rewards today. It's your VIP pass to
                rewards, perks and guilt-free pleasure.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Slide -->
    <div class="swiper-slide carousel-slide">
      <div class="app-widget-column">
        <div class="app-widget-container">
          <!-- Image -->
          <a [routerLink]="['/collections', 'new-lingerie']" class="swiper-slide-image-wrapper aspect-square">
            <img src="/assets/images/slides/about/Shop_Desktop.jpg" alt="" loading="lazy">
          </a>
          <!-- Description -->
          <div class="swiper-slide-image-description">
            <!-- Heading -->
            <div class="app-widget app-widget-heading app-widget-heading-default align-center">
              <div class="app-widget-container">
                <h2 class="app-heading-title">SHOP</h2>
              </div>
            </div>
            <!-- Text -->
            <div class="app-widget align-center typeset-description-primary">
              <div>
                Shop in-store or online to level up your loyalty status. Whenever you treat
                yourself, we'll treat you too.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Slide -->
    <div class="swiper-slide carousel-slide">
      <div class="app-widget-column">
        <div class="app-widget-container">
          <!-- Image -->
          <a [routerLink]="['/join-honey']" class="swiper-slide-image-wrapper aspect-square">
            <img src="/assets/images/slides/about/Enjoy_Desktop.jpg" alt="" loading="lazy">
          </a>
          <!-- Description -->
          <div class="swiper-slide-image-description">
            <!-- Heading -->
            <div class="app-widget app-widget-heading app-widget-heading-default align-center">
              <div class="app-widget-container">
                <h2 class="app-heading-title">Enjoy</h2>
              </div>
            </div>
            <!-- Text -->
            <div class="app-widget align-center typeset-description-primary">
              <div>
                Gain access to exclusive perks and privileges, including VIP experiences and
                members-only rewards. Now that's friends with benefits, honey!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
