<div class="main-page-container">
  <app-header></app-header>
  <!--  Sticky header -->
  <app-site-header class="js-section-site-header"></app-site-header>
  <router-outlet />
  <app-footer class="js-section-site-footer"></app-footer>
</div>
<app-chat-box class="app-widget"></app-chat-box>
<!--  Mobile menu -->
<app-mega-menu></app-mega-menu>
<!-- Geolocation -->
<app-modal-geolocation></app-modal-geolocation>
<!-- Instagram modal -->
<app-instagram-feed-modal></app-instagram-feed-modal>
<!-- Alert -->
<app-login-alert-modal></app-login-alert-modal>
<!-- Select Sizes -->
<app-select-size-modal></app-select-size-modal>
<!-- Mini Cart -->
<app-mini-cart></app-mini-cart>
<!-- Size Guide-->
<app-size-guide-modal></app-size-guide-modal>
<!-- Search -->
<app-search-modal></app-search-modal>
<!--Wishlist-->
<app-wishlist-modal></app-wishlist-modal>
