<div class="fs-desktop fs-mobile fs-prepended-detail fs-wrapper">

  <div class="fs-timeline-detail" [class.opened]="dialogOpen()" role="dialog">
    <div class="fs-detail-outer-container" [class.fs-add-to-cart-enabled]="feed()?.hasLink">

      <!--     Main Container  -->
      <div [class.fs-slid]="buyContainerOpen()"
           class="fs-detail-container">

        <div class="fs-detail-content">

          <!-- Product Image -->
          <div class="fs-detail-left">
            <div class="fs-image-container">
              <img class="fs-detail-image" [src]="feed()?.image" alt="Instagram post">

              <!-- Links -->
              @if (feed()?.details) {

                @for (product of feed()?.details; track $index) {

                  <a
                    class="fs-shop-link"
                    tabindex="0"
                    (click)="showProduct(product.url)">

                    <!-- has class fs-overlink-active -->
                    <div
                      [class.fs-overlink-active]="productLink() === $index + 1"
                      class="fs-overlink" [style]="product.linkStyle">
                      <div>{{ $index + 1 }}</div>

                      <div
                        [class.fs-overlink-text-right]="$index + 1 > 1"
                        class="fs-overlink-text">
                        <div class="fs-arrow-up"></div>
                        <div class="fs-overlink-actual-text">
                          <div class="fs-overlink-product-name">{{ product.name }}</div>
                          <div class="fs-overlink-product-price">${{ product.price }}</div>
                        </div>
                      </div>

                    </div>

                  </a>
                }
              }

            </div>
          </div>

          <!-- Details -->
          <div class="fs-detail-right">

            <!-- Navigation Bar -->
            <div class="fs-detail-nav-bar-arrows">

              <!-- Prev Button -->
              <span id="fs-prev-post"
                    (click)="prevFeed()"
                [class.fs-button-inactive]="prev() <= 0"
                class="fs-detail-nav-button fs-detail-nav-button--inside">

                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path class="fs-arrow" fill="none" stroke-width="1px" d="m22.5,0l-15,15l15,15" id="fs-left-path" stroke="#ddd"></path>
                  </g>
                </svg>
              </span>

              <!-- Next Button -->
              <span id="fs-next-post"
                    (click)="nextFeed()"
                [class.fs-button-inactive]="prev() + 1 === count"
                class="fs-detail-nav-button fs-detail-nav-button--inside">

                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
                  <g><path class="fs-arrow" stroke="#222" id="fs-right-path" d="m7.5,0l15,15l-15,15" fill="none"></path></g>
                </svg>
              </span>

              <!-- Close Button -->
              <div class="fs-detail-nav-bar-close">
                <div (click)="onClose()" id="fs-detail-close" class="fs-detail-nav-button" role="button">
                  <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <g stroke="#222" class="fs-arrow" stroke-width="1px" fill="none">
                      <path d="m0,0l30,30"></path>
                      <path d="m30,0l-30,30"></path>
                    </g>
                  </svg>
                </div>
              </div>

              <!-- Clear -->
              <div class="fs-clear"></div>

            </div>

            <!--  Products -->
            @if (feed()?.details) {

              <div class="fs-detail-products">

                @for (product of feed()?.details; track $index) {

                  <!-- Product -->
                  <div class="fs-shop-product">

                  @if (product.soldout) {

                    <a
                       (mouseenter)="linkHover($index + 1)"
                       (mouseleave)="linkReset()"
                       [class.fs-link-active]="productLink() === $index + 1"
                       tabindex="0">

                      <div class="fs-detail-product-container">
                        <img class="fs-detail-product-image"
                             [src]="product.image" [alt]="product.name">
                      </div>
                    </a>

                  } @else {

                    <a (click)="showProduct(product.url)"
                       (mouseenter)="linkHover($index + 1)"
                       (mouseleave)="linkReset()"
                       [class.fs-link-active]="productLink() === $index + 1"
                       class="fs-shop-link fs-link-list"
                       tabindex="0">

                      <div class="fs-detail-product-container">
                        <img class="fs-detail-product-image"
                             [src]="product.image" [alt]="product.name">
                      </div>
                    </a>

                  }

                  @if (!feed()?.hasLink) {

                    <div class="fs-post-info fs-product-description">
                            <span class="fs-link-text-number"> 1
                              <span class="fs-slashes"> // </span>
                            </span>
                      <span class="fs-link-text">{{ product.name }}</span>
                    </div>
                    <div class="fs-underline"></div>

                  } @else {

                    <!-- Add to cart button -->
                    <div class="fs-shopify-options">
                      <div class="fs-view">

                        @if (product.soldout) {

                          <a>
                            <div class="fs-product-price">${{ product.price }}</div>
                            <span class="fs-product-name">{{ product.name }}</span>
                            <span class="fs-product-vendor">Honey</span>
                          </a>

                        } @else {
                          <a class="fs-shop-link"
                             (click)="showProduct(product.url)"
                             [attr.aria-label]="product.name">
                            <div class="fs-product-price">${{ product.price }}</div>
                            <span class="fs-product-name">{{ product.name }}</span>
                            <span class="fs-product-vendor">Honey</span>
                          </a>
                        }

                      </div>

                      @if (product.soldout) {
                        <div class="fs-soldout">
                          <p>Sold out</p>
                        </div>
                      } @else {

                        <!-- Button -->
                        <div class="fs-add">
                          <button
                            (click)="openBuyContainer(product)"
                            class="fs-shopify-add-cart fs-shopify-add-cart-container"
                            type="button">
                            Add to Cart
                          </button>
                        </div>
                      }

                    </div>
                  }
                  </div>

                }
              </div>
            }



            <!-- Clear -->
            <div class="fs-clear"></div>

            <!-- Title -->
            <div class="fs-detail-title">{{ feed()?.title }}</div>

            <!-- Post Info -->
            <div class="fs-post-info">
              <a href="https://www.instagram.com/" target="_blank">
                <!-- Name -->
                <span class="fs-service-username">{{ feed()?.author }}</span>&nbsp;
                <span class="fs-slashes">//</span>
                INSTAGRAM
                <span class="fs-slashes">//</span>&nbsp;
                <span class="fs-detail-date">{{ feed()?.date }}</span>
              </a>
            </div>

            <!-- Shares -->
            <div class="fs-detail-shares">
              <!-- Facebook -->
              <a aria-label="share on facebook (opens in a new tab)"
                 class="fs-share fs-facebook-share"
                 href="https://m.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" preserveAspectRatio="none">
                  <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path>
                </svg>
              </a>
              <!-- Mail -->
              <a aria-label="share by email (opens in a new tab)"
                 class="fs-share fs-link-share"
                 href="mailto:?subject=Shop this Instagram.self from @honey&amp;body=https://foursixty.com/honey/260740749/"
                 target="_blank">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="none">
                  <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"></path>
                </svg>
              </a>
              <!-- X -->
              <a aria-label="share on x (opens in a new tab)"
                 class="fs-share fs-link-share fs-x-share"
                 target="_blank"
                 href="http://www.x.com/share?url=https://foursixty.com/honey/260740749/&amp;related=honey&amp;text=Shop this Instagram.self from @honey" rel="noopener noreferrer">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="none">
                  <path fill="#666" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path>
                </svg>
              </a>
              <!-- Pinterest -->
              <a aria-label="share on pinterest (opens in a new tab)"
                 class="fs-share fs-link-share"
                 href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" preserveAspectRatio="none">
                  <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3 .8-3.4 5-20.3 6.9-28.1 .6-2.5 .3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"></path>
                </svg>
              </a>
              <!-- Link -->
              <a aria-label="permalink (opens in a new tab)"
                 class="fs-share fs-link-share"
                 href="https://foursixty.com/honey/260740749/" target="_blank" rel="noopener noreferrer">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" preserveAspectRatio="none">
                  <path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"></path>
                </svg>
              </a>
            </div>

          </div>

        </div>

      </div>

      <!--  Buy Container  -->
      <div [class.fs-unslid]="!buyContainerOpen()"
           class="fs-buy-container">

        @if (!productAdded() && buyContainerOpen()) {

          @let product = buyProduct();
          @if (product !== null) {

            <div class="fs-buy-now-form">
              <!-- Image -->
              <img id="fs-buy-featured-image" [src]="product.image" [alt]="product.name">

              <!-- Name & Price -->
              <div class="fs-buy-product-title fs-large-text">
                {{ product.name }}
                <span class="fs-product-inner-price">${{ product.price }}</span>
              </div>

              <!-- Possible errors to show remove class fs-no-error-->
              <div class="fs-error" [class.fs-no-error]="fsError() === ''">{{ fsError() }}</div>

              <form novalidate>

                <!-- Sizes -->
                <div class="fs-option-group fs-Size">
                  <div class="fs-option-name fs-medium-text">Size</div>

                  @if (product.type === "bra") {

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_65" value="65">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_65">65</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_70" value="70">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_70">70</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_75" value="75">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_75">75</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_80" value="80">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_80">80</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_85" value="85">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_85">85</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_90" value="90">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_90">90</label>
                    </div>

                    <!-- Cups -->
                    <div class="fs-option-group fs-CUP">
                      <div class="fs-option-name fs-medium-text">CUP</div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_A" value="A">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_A">A</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_B" value="B">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_B">B</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_C" value="C">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_C">C</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_D" value="D">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_D">D</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_E" value="E">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_E">E</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_F" value="F">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_F">F</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_G" value="G">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_G">G</label>
                      </div>

                      <div class="fs-variant-select">
                        <input #radioCap
                               (change)="cupChange($event, product)"
                               role="button"
                               type="radio"
                               class="fs-option"
                               name="CUP" id="option_value_CUP_H" value="H">

                        <label class="fs-option-label fs-small-text" for="option_value_CUP_H">H</label>
                      </div>

                    </div>

                  } @else if (product.type === "thong" || product.type === "suspender"
                    || product.type === "chemise" || product.type === "corset"
                    || product.type === "bodysuit") {

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_XXS" value="XXS">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_XXS">XSS</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_XS" value="XS">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_XS">XS</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_S" value="S">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_S">S</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_M" value="M">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_M">M</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_L" value="L">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_L">L</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_XL" value="XL">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_XL">XL</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_XXL" value="XXL">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_XXL">XXL</label>
                    </div>

                  } @else if (product.type === "robe") {

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_XS/S" value="XS/S">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_XS/S">XS/S</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_S/M" value="S/M">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_S/M">S/M</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_M/L" value="M/L">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_M/L">M/L</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_L/XL" value="L/XL">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_L/XL">L/XL</label>
                    </div>

                  } @else if (product.type === "stockings") {

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_S" value="S">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_S">S</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_M" value="M">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_M">M</label>
                    </div>

                    <div class="fs-variant-select">
                      <input #radioSize
                             (change)="sizeChange($event, product)"
                             role="button"
                             type="radio"
                             class="fs-option"
                             name="Size" id="option_value_Size_L" value="L">

                      <label class="fs-option-label fs-small-text" for="option_value_Size_L">L</label>
                    </div>
                  }

                  <!-- Buttons -->
                  <div class="fs-button-bar">
                    <!-- Add to cart -->
                    <a class="fs-buy-button fs-medium-text fs-complete-purchase"
                       (click)="addToCart(product)"
                       tabindex="0"
                       role="button">Add to Cart
                    </a>
                    <!-- Cancel -->
                    <a class="fs-buy-button fs-medium-text fs-cancel-purchase"
                       (click)="cancelPurchase()"
                       tabindex="0"
                       role="button">Cancel
                    </a>
                  </div>
                  <div class="fs-clear"></div>
                </div>

              </form>

            </div>
          }

        } @else if (productAdded() && buyContainerOpen()) {
<!--           Product Added         -->
          <div class="fs-added-notification fs-buy-now-form">
            <div class="fs-large-text">Added to Cart</div>
            <div class="fs-isolation"></div>

            @let product = cartProduct();

            @if (product !== null) {

              <!-- Info -->
              @if (product.size?.key !== "") {

              <div class="fs-large-text">{{ product.name }} - {{ product.size?.value }} /
                {{ product.size?.key }} (${{ product.price }})
              </div>
              } @else {

                <div class="fs-large-text">{{ product.name }} - {{ product.size?.value }} /
                  (${{ product.price }})
                </div>
              }


              <!-- Image -->
              <img id="fs-buy-featured-image" [src]="product.image" [alt]="product.name">

              <!-- Cart count -->
              <div class="fs-medium-text">Your cart now has {{ cartCount() }} item</div>

              <!-- Buttons -->
              <div class="fs-button-bar">
                <!-- Checkout -->
              <a (click)="proceedToCheckout()"
                class="fs-buy-button fs-medium-text"
                tabindex="0"
                id="fs-proceed">Proceed to Checkout</a>

              <!-- Cancel -->
              <a (click)="toggleDetailContainer()"
                class="fs-buy-button fs-medium-text"
                tabindex="0"
                id="fs-dismiss"
                role="button">Continue Shopping</a>
              </div>

            }

          </div>
        }


      </div>

    </div>
  </div>

</div>
