<main class="outline-none">

  <!--  Main section -->
  <section class="section-boxed js-product-main">

    @let product = shopProduct();

    @if (product !== null) {

      <!-- Product Slide Show -->
      <div class="js-product-gallery-container">
        <app-product-gallery class="js-product-gallery group"></app-product-gallery>
      </div>

      <!-- Product summary -->

      <div class="js-product-summary-container">
        <div class="js-product-summary-wrapper">

          <!-- Navigation -->

          <div class="app-widget breadcrumbs-widget">
            <ol>
              <li class="breadcrumb">
                <a [routerLink]="['/']" tabindex="-1">Home</a>
              </li>
              <li class="breadcrumb-separator" tabindex="-1"> — </li>
              <li class="breadcrumb">
                <a [routerLink]="['/products', product.url]" tabindex="-1">Collection</a>
              </li>
              <li class="breadcrumb-separator" tabindex="-1"> — </li>
              <li class="breadcrumb">
                <a [routerLink]="['/collections', product.collection]" tabindex="-1">{{ product.name }}</a>
              </li>
              <li class="breadcrumb-separator" tabindex="-1"> — </li>
              <li class="breadcrumb truncate">{{ product.name }}&nbsp;{{ product.description }}</li>
            </ol>
          </div>

          <!-- Info -->
          <app-product-info [product]="product" [reviewsSelector]="revSelector"></app-product-info>

          <!-- Colors -->
          <div class="js-collection-colors-widget">
            <app-collection-color-button
              (itemSelected)="colorSelected($event)"
              class="js-colors-button"
              [index]="index()"
              [collectionItem]="collectionItem()"></app-collection-color-button>

            <!-- Button Trigger Modal Colors -->
            @let items =collectionItem();
            @if (items !== null && items.length > 1) {

              <button
                (click)="openViewColors()"
                type="button"
                class="button-link-icon js-modal-dialog-trigger"
                aria-label="View Colours">
                View Colours
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 12 12" fill="none" role="presentation" disabled="true" clickable="false" aria-hidden="true">
                  <title id="title-icon-chevron-right">Icon of chevron right</title>
                  <path id="icon-chevron-right" d="M4.625 2.5625L8.0625 6L4.625 9.4375" stroke="currentColor" stroke-linecap="square"></path>
                </svg>
              </button>
            }

          </div>

          @if (product.type !== "lingerie-set") {

            <app-buy-product-form
              [productItems]="collectionItem()"
              [buyProduct]="product"></app-buy-product-form>

          }
          <!-- Else For Lingerie sets -->

          <!-- Info Links -->
          <div class="product-info__links-container">

            <div class="icon-link-widget">
              <div class="icon-wrapper">
                <img src="/assets/images/icons/ArrowUDownLeft.svg"
                     alt=""
                     width="16"
                     height="16"
                     loading="lazy"
                      sizes="16px">
              </div>
              <a [routerLink]="['/returns-exchanges']" tabindex="-1">45 DAY RETURNS*</a>
            </div>

            <span class="link-spacer">—</span>

            <div class="icon-link-widget">
              <div class="icon-wrapper">
                <img src="/assets/images/icons/kiss.png"
                     alt=""
                     width="33"
                     height="32"
                     loading="lazy"
                     sizes="16px">
              </div>
              <a [routerLink]="['/shipping-delivery']" tabindex="-1">Discreet Packaging</a>
            </div>

          </div>

          <!-- Product description -->
          <app-product-description class="app-widget" [buyProduct]="product"></app-product-description>
        </div>

        <!-- Product Pair with -->
      </div>

      <app-modal-bio [product]="product"></app-modal-bio>
      <app-modal-view-colors></app-modal-view-colors>
    }

  </section>

  <!--  Reviews -->
  @if (product !== null && product.ratings) {

    <section id="reviews">

    </section>
  }
</main>
