.js-product-summary-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-info__links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.section-reviews {
  padding: 1.5rem 1rem;
  flex-wrap: wrap;
}
.section-reviews-heading .app-widget-container {
  text-align: center;
}
.js-collection-sets, .js-collection-set-items {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,.08);
}
.js-collection-set-items {
  margin-top: 1.5rem;
}
.js-collection-set-items .app-widget-heading-default .app-heading-title {
  margin-bottom: 1rem;
}

/*========= Media ===============*/
@media (min-width: 768px) {
  .js-product-summary-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .section-reviews-heading .app-widget-container {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .js-product-summary-wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1024px) {
  .section-reviews {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1536px) {
  .js-product-summary-wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }
}
