.js-product-summary-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-info__links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}

/*========= Media ===============*/
@media (min-width: 768px) {
  .js-product-summary-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .js-product-summary-wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1536px) {
  .js-product-summary-wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }
}
