.section-home-category {
  padding: 24px 1rem;
}
.section-product-carousel {
  padding: 24px 0;
}
.app-widget-heading-default.new-arrivals-heading .app-heading-title {
  padding: 0 1rem 1.5rem 1rem;
  text-align: center;
}

/*================= Media ==================*/
@media (min-width: 1024px) {
  .section-home-category {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .app-widget-heading-default.new-arrivals-heading .app-heading-title {
    text-align: left;
    padding: 0 2.5rem 2rem 2.5rem;
  }
}
