<main class="outline-none">
  <!-- Video Carousel -->
  <section class="section-boxed section-hero-carousel">
    <!-- Cover image -->
    <div class="cover-image-wrapper">
      <img [src]="videoData[0].coverImage" alt="" fetchpriority="high" loading="eager">
    </div>
    <!-- Carousel -->
    <div class="section-hero-carousel__carousel">
      <app-hero-video-carousel [heroData]="topHeroCarousel" class="app-widget"></app-hero-video-carousel>
    </div>
  </section>

  <!--  Category -->
  <section class="section-boxed section page-section">
    <div #categoryGrid
         appObserveElement
         [isContinuous]="false"
         (isIntersecting)="isIntersecting($event, categoryGrid)"
         class="product-gallery-grid scroll-trigger--offscreen scroll-trigger animate--slide-in">

      @for (collection of collectionsNewsData; track $index) {

        <!-- Category item New -->
        <a [routerLink]="['/collections', collection.url]"
           [title]="collection.title" class="picture-wrapper group" role="presentation">

          <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
            <div class="app-widget-container">
              <img [src]="collection.image" [alt]="collection.title" loading="lazy" fetchpriority="auto">
            </div>
            <!-- Content -->
            <div class="picture-content">
              <h3 class="button-link group-hover-after-origin-left group-hover-after-scale-x-100">
                {{ collection.title }}
              </h3>
            </div>
          </div>

        </a>
      }

    </div>
  </section>

  <!-- New arrivals -->
  <section class="section-boxed page-section js-section-product-carousel">
    <div class="app-wrapper">
      <!-- Heading -->
      <div class="app-widget app-widget-heading app-widget-heading-default carousel-heading">
        <div class="app-widget-container">
          <h2 class="app-heading-title">NEW ARRIVALS</h2>
        </div>
      </div>
      <!-- Products Carousel -->
      <app-product-carousel [className]="'js-carousel-swiper-new-arrivals'" [requestType]="'new-arrivals'" class="app-wrapper"></app-product-carousel>
    </div>
  </section>

  <!-- Categories Corsets & Bodysuits -->
  <section class="section-boxed page-section section">

    <div #categoryTowColumnGrid
         appObserveElement
         [isContinuous]="false"
         (isIntersecting)="isIntersecting($event, categoryTowColumnGrid)"
         class="product-gallery-grid grid-column-2 scroll-trigger--offscreen scroll-trigger animate--slide-in">

      <!-- Category item Bustiers -->
      <a [routerLink]="['/collections', 'bustiers-corsets']" title="Bustiers" class="picture-wrapper group">

        <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
          <div class="app-widget-container">
            <img src="/assets/images/categories/bustiers/BUSTIERS.jpg" alt="Bustiers">
          </div>
        </div>

      </a>

      <!-- Category item Bodysuits -->
      <a [routerLink]="['/collections', 'bodysuits']" title="Bodysuits" class="picture-wrapper group">

        <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
          <div class="app-widget-container">
            <img src="/assets/images/categories/bodysuits/BODYSUITS-1.jpg" alt="Bondage">
          </div>
        </div>

      </a>

    </div>

  </section>

  <!--  Shop the look slideshow -->
  <section class="section-boxed page-section section-default-padding">
    <app-shop-the-look [dataIndex]="slideShowDataIndex" class="app-widget"></app-shop-the-look>
  </section>

  <!--  Bestsellers -->
  <section class="section-boxed section-hero-carousel">
    <!-- Cover image -->
    <div class="cover-image-wrapper">
      <img src="/assets/images/common/BESTSELLERS.jpg" alt="" fetchpriority="high" loading="eager">
    </div>
    <!-- Carousel -->
    <div class="section-hero-carousel__carousel js-default-hero-carousel">
      <app-hero-carousel [heroData]="bestsellersCarousel" class="app-widget"></app-hero-carousel>
    </div>
  </section>

  <!-- Categories Whitney & Bondage -->
  <section class="section-boxed page-section section">

    <div #categoryBigGrid
         appObserveElement
         [isContinuous]="false"
         (isIntersecting)="isIntersecting($event, categoryBigGrid)"
         class="product-gallery-grid grid-column-2 grid-column-3 scroll-trigger--offscreen scroll-trigger animate--slide-in">

      <!-- Category item New -->
      <a [routerLink]="['/collections', 'whitney-lingerie-collection']" title="Whitney" class="picture-wrapper group">

        <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
          <div class="app-widget-container">
            <img src="/assets/images/categories/PRINTS_1.jpg" alt="Whitney">
          </div>
        </div>

      </a>
      <!-- Category item Bras -->
      <a [routerLink]="['/collections', 'bondage-lingerie']" title="Bondage" class="picture-wrapper group">

        <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
          <div class="app-widget-container">
            <img src="/assets/images/categories/BONDAGE.jpg" alt="Bondage">
          </div>
        </div>

      </a>
      <!-- Category All lingerie -->
      <a [routerLink]="['/collections', 'all-lingerie']" title="Prints" class="picture-wrapper group">

        <div class="picture-image gradient-card aspect-4-5 group-hover-scale">
          <div class="app-widget-container">
            <img src="/assets/images/categories/PRINTS_2.jpg" alt="Hero image">
          </div>
        </div>

      </a>
    </div>

  </section>

  <!--  Bridal Hero Carousel -->
  <section class="section-boxed section-hero-carousel">
    <!-- Cover image -->
    <div class="cover-image-wrapper">
      <img src="/assets/images/categories/BRIDAL.jpg" alt="" fetchpriority="high" loading="eager">
    </div>
    <!-- Carousel -->
    <div class="section-hero-carousel__carousel js-default-hero-carousel">
      <app-hero-carousel [heroData]="bridalCarousel" class="app-widget"></app-hero-carousel>
    </div>
  </section>

  <!--  Shop the look slideshow -->
  <section class="section-boxed page-section section-default-padding">
    <app-shop-the-look [dataIndex]="slideShowDataIndex + 1" class="app-widget"></app-shop-the-look>
  </section>

  <!--  Text block -->
  <section class="section-text-block page-section">
    <div class="container">
      <div class="text-block-container"></div>
    </div>
  </section>

  <!-- Video Carousel -->
  <section class="section-boxed section-hero-carousel">
    <!-- Cover image -->
    <div class="cover-image-wrapper">
      <img [src]="videoData[1].coverImage" alt="" fetchpriority="high" loading="eager">
    </div>

    <!-- Carousel -->
    <div class="section-hero-carousel__carousel">
      <app-hero-video-carousel [heroData]="bottomHeroCarousel" class="app-widget"></app-hero-video-carousel>
    </div>
  </section>

  @if (isOff) {

    <!--  Text block -->
    <section class="section-text-block page-section">
      <div class="container">
        <div class="text-block-container"></div>
      </div>
    </section>

    <!-- Sale Roses Hero Carousel -->
    <section class="section-boxed section-hero-carousel">
      <!-- Cover image -->
      <div class="cover-image-wrapper">
        <img src="/assets/images/categories/Fullwidth_Banner_roses_Desktop.jpg" alt="" fetchpriority="high" loading="eager">
      </div>
      <!-- Carousel -->
      <div class="section-hero-carousel__carousel js-default-hero-carousel">
        <app-hero-carousel [heroData]="salesCarousel" class="app-widget"></app-hero-carousel>
      </div>
    </section>

  }
  <!--  Text block -->
  <section class="section-text-block page-section">
    <div class="container">
      <div class="text-block-container"></div>
    </div>
  </section>

  <!--  Parallax -->
  <section class="section-boxed">
    <app-parallax-banner class="app-widget" [parallaxData]="parallaxData"></app-parallax-banner>
  </section>

  <!--  Text block -->
  <section class="section-text-block page-block page-section">
    <div class="container">
      <div class="text-block-container">

        <!-- Heading -->
        <div
          #textBlockHeading
          appObserveElement
          [isContinuous]="false"
          (isIntersecting)="isIntersecting($event, textBlockHeading)"
          class="app-widget app-widget-heading app-widget-heading-default text-block-heading scroll-trigger--offscreen scroll-trigger animate--slide-in">
          <div class="app-widget-container">
            <h2 class="app-heading-title">Step into a world of lace, leather, and luxury lingerie.</h2>
          </div>
        </div>

        <!-- Text -->
        <div
          #textBlockText
          appObserveElement
          [isContinuous]="false"
          (isIntersecting)="isIntersecting($event, textBlockText)"
          class="app-widget align-center typeset-description-primary scroll-trigger--offscreen scroll-trigger animate--slide-in">
          <p>
            Leaders in the pursuit of pleasure, Honey is made to inspire and
            empower with sensuality on a silver
            <br>
            platter. Bringing a sense of playfulness to your everyday intimates, we pride ourselves
            on the fit, feel, and finishes that area cut above the rest.
          </p>
        </div>

        <!-- Button -->
        <a
          #textBlockButton
          appObserveElement
          [isContinuous]="false"
          (isIntersecting)="isIntersecting($event, textBlockButton)"
          [routerLink]="['/our-story']"
          class="button-link-underline auto-fit-button scroll-trigger--offscreen scroll-trigger animate--slide-in">
          About US
        </a>
      </div>
    </div>
  </section>

  <!--  Services -->
  <section class="section-boxed section-three-columns page-section">
    <div
      #threeColumns
      appObserveElement
      [isContinuous]="false"
      (isIntersecting)="isIntersecting($event, threeColumns)"
      class="app-widget scroll-trigger--offscreen scroll-trigger animate--slide-in">

      <app-carousel-video-swiper [videoData]="servicesVideoData" class="app-widget"></app-carousel-video-swiper>
    </div>
  </section>

  <!--  Instagram -->
  <section class="section-boxed page-section">
    <app-instagram-feed class="app-widget"></app-instagram-feed>
  </section>
</main>
<app-shop-the-look-modal></app-shop-the-look-modal>
