/* Auth */
.auth-kit {
  --global-auth-image: '';
  --auth-logo-width: 11.5rem;
  --x-default-color-accent: rgb(0,0,0);
  --x-default-color-accent-hovered: rgb(0,0,0);
  --auth-outline-offset: .187rem;
  --x-main-max-width:427px;
  --x-spacing-small-200: 0.5rem;
  --x-spacing-small-300: 0.375rem;
  --x-spacing-small-400: 0.25rem;
  --x-spacing-small-100: 10px;
  --x-spacing-large-200: 1.25rem;
  --x-spacing-large-300: 1.5rem;
  --x-spacing-large-500: 2.5rem;
  --x-border-full: 1px;
  --x-border-block-end: 0 0 1px;
  --x-border-radius-small: 4px;
  --x-border-radius-base: 8px;
  --x-border-radius-large: 12px;
  --x-border-radius-fully-rounded: 36px;
  --x-border-radius-max: 9999px;
  --x-border-radius-none: 0;
  --x-border-width-base: 1px;
  --x-border-width-large-100: 2px;
  --x-border-width-large-200: 5px;
  --x-box-shadow-extra-small: 0 1px 1.75px 0 rgba(0, 0, 0, .12), 0 -.5px 1.5px 0 rgba(0, 0, 0, .09), 0 3px 4px 0 rgba(0, 0, 0, .03);
  --x-box-shadow-small: 0 1px 2px -.5px rgba(0, 0, 0, .05), 0 2px 4px -1px rgba(0, 0, 0, .08), 0 3px 6px -1.5px rgba(0, 0, 0, .08), 0 -.5px 1.5px 0 rgba(0, 0, 0, .09);
  --x-box-shadow-base: 0 1px 2px -.5px rgba(0, 0, 0, .05), 0 2px 4px -1px rgba(0, 0, 0, .08), 0 3px 6px -1.5px rgba(0, 0, 0, .08), 0 8px 16px -6px rgba(0, 0, 0, .06), 0 -.5px 2px 0 rgba(0, 0, 0, .09);
  --x-box-shadow-large: 0 1px 2px -.5px rgba(0, 0, 0, .05), 0 2px 4px -1px rgba(0, 0, 0, .08), 0 3px 6px -1.5px rgba(0, 0, 0, .08), 0 8px 16px -6px rgba(0, 0, 0, .06), 0 24px 40px -12px rgba(0, 0, 0, .06), 0 -.5px 1.5px 0 rgba(0, 0, 0, .09);
  --x-box-shadow-extra-large: 0 1px 2px -.5px rgba(0, 0, 0, .05), 0 2px 4px -1px rgba(0, 0, 0, .08), 0 3px 6px -1.5px rgba(0, 0, 0, .08), 0 8px 16px -6px rgba(0, 0, 0, .06), 0 24px 40px -12px rgba(0, 0, 0, .06), 0 32px 48px -12px rgba(0, 0, 0, .06), 0 -.5px 1.5px 0 rgba(0, 0, 0, .09);
  --x-duration-faster: 88.9ms;
  --x-duration-fast: .1333s;
  --x-duration-base: .2s;
  --x-duration-slow: .3s;
  --x-duration-slower: .45s;
  --x-duration-slowest: 675ms;
  --x-duration-reduced-motion: 1ms;
  --x-timing-base: ease-in-out;
  --x-timing-ease-out: cubic-bezier(.3, .5, .5, 1);
  --x-timing-linear: linear;
  --x-timing-spring: cubic-bezier(.3, 0, 0, 1);
  --x-spacing-base: .875rem;
  --x-typography-primary-fonts: "futura-pt", sans-serif;
  --x-typography-primary-weight-base: 450;
  --x-typography-font-weight: 400;
  --x-typography-size-small: .75rem;
  --x-typography-size-default: .875rem;
  --x-typography-size-extra-extra-large: 1.5rem;
  --x-global-typography-line-size-default: 1.5;
  --x-global-typography-line-size-small: 1.2;
  --x-global-typography-kerning: normal;
  --x-typography-uppercase: uppercase;
  --x-default-color-border: rgb(192,187,180);
  --x-default-color-text: rgb(0,0,0);
  --x-default-color-info: rgb(0,0,0);
  --x-default-color-spinner: rgb(0,0,0);
  --x-default-color-background:rgb(226,218,206);
  --x-max-width-base:30rem;
  --x-default-color-icon:rgba(0,0,0,0.56);
  --x-default-color-background-subdued:rgb(220,209,193);
  --x-default-color-text-subdued:rgba(0,0,0,0.56);

  background-color: var(--x-default-color-background);
  color: var(--x-default-color-text);

  h1 {
    font-size: var(--x-typography-size-default);
    line-height: var(--x-global-typography-line-size-small);
    font-family: var(--x-typography-primary-fonts), sans-serif;
    font-weight: var(--x-typography-primary-weight-base);
    letter-spacing: var(--x-global-typography-kerning);
    text-transform: var(--x-typography-uppercase);
    margin: 0;
  }
  h1 span {
    font-size: var(--x-typography-size-extra-extra-large);
  }

  .auth-section {
    position: relative;
  }

  .auth-container {
    position: relative;
    min-height: 100dvh;
    display: flex;
    width: 100%;
  }
  .authorization-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth-banner {
    position: relative;
    display: none;
    background-image: var(--global-auth-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .auth-header > .wrapper {
    position: relative;
    padding: 4rem 0 2rem 0;
  }
  .aut-header-site-logo-banner {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  }
  .auth-logo-wrapper {
    position: relative;
    max-width: var(--auth-logo-width);
  }
  .auth-logo-wrapper a {
    display: block;
  }
  .auth-logo {
    object-fit: contain;
    display: block;
    max-width: 100%;
    min-inline-size: 12px;
    max-inline-size: min(100%,1000px);
    border-style: none;
  }
  .auth-footer > .wrapper {
    position: relative;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: center;
  }
  .auth-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0 solid var(--x-default-color-text, var(--x-default-color-accent));
    outline-offset: var(--auth-outline-offset);
    width: fit-content;
    height: auto;
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color, box-shadow, opacity, transform;
    transition-timing-function: ease-in-out;
    user-select: none;
    color: var(--x-default-color-text);
    border-radius: var(--x-border-radius-base);
  }
  .auth-button-underline {
    text-decoration: var(--x-link-text-decoration, none);
  }
  .auth-button-underline:hover {
    color: var(--x-default-color-accent-hovered);
  }
  .auth-main-section {
    position: relative;
    margin: auto;
    width: 100%;
    display: grid;
    align-items: center;
    transition: min-height .2s linear;
    max-width: var(--x-main-max-width);
    padding: var(--x-spacing-large-500) var(--x-spacing-large-300);
  }
  .auth-main-section__header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: var(--x-spacing-small-300);
    column-gap: var(--x-spacing-small-300);
    padding-bottom: var(--x-spacing-large-200);
    opacity: 0;
    transition-property: opacity;
    will-change: opacity;
    transition-timing-function: var(--x-timing-ease-out);
    transition-duration: var(--x-duration-slow);
  }
  .auth-main-section__header.active {
    opacity: 1;
  }
  .auth-group-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--x-spacing-base);
    column-gap: var(--x-spacing-base);
  }
  .auth-typeset p {
    margin: 0;
  }
  .auth-typeset {
    --x-default-color-accent: currentColor;
    --x-link-text-decoration: underline;
    color: var(--x-default-color-text-subdued, inherit);
  }
  .auth-typeset.typeset-small * {
    font-size: var(--x-typography-size-small);
  }
  .auth-form {
    position: relative;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition-property: height,opacity;
    will-change: height,opacity;
    transition-timing-function: var(--x-timing-ease-out);
    transition-duration: var(--x-duration-slow);
  }
  .auth-form.active {
    opacity: 1;
    height: auto;
    overflow: visible;
  }
  .auth-form__form .body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--x-spacing-large-200);
  }
  .auth-form__inputs-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--x-spacing-base);
  }
  .auth-input-container {
    --x-default-color-background: rgba(0, 0, 0, 0);
    --x-default-color-text: rgb(0, 0, 0);
    --padding-block: var(--x-spacing-small-100);
    --padding-inline: var(--x-spacing-small-100);
    --padding-with-button-accessory: var(--x-spacing-small-300);
    --field-font-size: var(--x-typography-size-default);
    --field-line-height: var(--x-global-typography-line-size-default);
    --field-border-radius: var(--x-border-radius-base);
    --label-font-size: var(--x-typography-size-small);
    --value-height: calc(var(--field-font-size) * var(--field-line-height));
    --field-min-height: calc(var(--label-font-size) + var(--field-font-size) + var(--padding-block) * 2);
    --filled-padding-block-start: calc((var(--field-min-height) - var(--value-height) - var(--label-font-size)) / 2 + var(--label-font-size) + 1.5px);
    --filled-padding-block-end: calc(var(--field-min-height) - var(--filled-padding-block-start) - var(--value-height));

    --label-height: calc(var(--label-font-size) * 1.5);
    --empty-padding-block: calc((var(--field-min-height) - var(--value-height)) / 2);
    --label-inset-block-start: calc((var(--field-min-height) - var(--field-font-size) - var(--label-height)) / 2 - 2px);
    --label-inset-inline-start: var(--padding-inline);

    position: relative;
    display: grid;
    gap: var(--x-spacing-small-400);
    line-height: var(--x-global-typography-line-size-default);
    font-size: var(--x-typography-size-default);
    font-family: var(--x-typography-primary-fonts), sans-serif;
    font-weight: var(--x-typography-font-weight);
    letter-spacing: var(--x-global-typography-kerning);
    color: var(--x-default-color-text);
  }
  .auth-input-wrapper {
    position: relative;
    display: grid;
    border: 1px var(--x-default-color-border) solid;
    background-color: var(--x-default-color-background);
    color: var(--x-default-color-text);
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: var(--x-duration-base);
    cursor: text;
    grid-template-areas: "accessoryStart iconStart prefix field suffix iconEnd accessoryEnd"
                         ".              .         .      field .      .       .           ";
    grid-template-columns: auto auto [label-start] auto 1fr [label-end] auto auto auto;
    grid-template-rows: calc(var(--field-min-height) + 1px) 1fr;
    border-radius: var(--field-border-radius);
  }
  .auth-input-wrapper:has(input:focus) {
    border-color: var(--x-default-color-accent);
    box-shadow: 0 0 0 1px var(--x-default-color-accent);
  }
  .auth-input-wrapper:has(input.ng-invalid.ng-touched:focus) {
    border-color: rgb(200, 17, 17);
    box-shadow: 0 0 0 1px rgb(200, 17, 17);
  }
  .auth-input-label {
    position: absolute;
    left: var(--label-inset-inline-start);
    grid-column: label-start / label-end;
    grid-row: 1 / -1;
    opacity: 0;
    top: var(--label-inset-block-start);
    transform: translateY(.21428571428571427em);
    max-width: calc(100% - 1.8571428571428572em);
    z-index: 1;
    user-select: none;
    pointer-events: none;
    transition-timing-function: ease-in-out;
    transition-duration: var(--x-duration-base);
    transition-property: all;
  }
  .auth-input-label.active {
    opacity: 1;
    transform: translateY(0);
  }
  .auth-input-wrapper:has(input:focus) .auth-input-label,
  .auth-input-wrapper:has(input:active) .auth-input-label {
    opacity: 1;
    transform: translateY(0);
  }
  .auth-input-label span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--x-typography-size-small);
    color: var(--x-default-color-text-subdued, var(--x-default-color-text, inherit));
  }
  .auth-input {
    appearance: none;
    border: 0;
    background: none;
    border-radius: var(--field-border-radius);
    grid-area: field;
    padding: var(--padding-block) var(--padding-inline);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-family: var(--x-typography-primary-fonts), sans-serif;
    font-size: var(--field-font-size);
    line-height: var(--field-line-height);
    padding-top: var(--empty-padding-block);
    padding-bottom: var(--empty-padding-block);
    text-overflow: ellipsis;
    transition-timing-function: ease-in-out;
    transition-duration: var(--x-duration-base);
    transition-property: all;
    outline: transparent solid 0;
    position: relative;
    overflow: visible;
    margin: 0;
    color: inherit;
  }
  .auth-input:focus {
    padding-top: var(--filled-padding-block-start);
    padding-bottom: var(--filled-padding-block-end);
  }

  .auth-input:invalid, .auth-input.ng-invalid {
    box-shadow: none;
  }
  .auth-input::placeholder {
    color:var(--x-default-color-text-subdued);
    opacity:1
  }
  .auth-input:active::placeholder, .auth-input:focus::placeholder {
    opacity: 0;
  }

  .auth-input-accessory {
    position: relative;
    align-self: center;
    cursor: default;
  }
  .auth-input-accessory:last-child {
    grid-area: accessoryEnd;
    padding-right: var(--padding-inline);
  }
  .auth-input-accessory:first-child {
    grid-area: accessoryStart;
    padding-left: var(--padding-inline);
  }
  .auth-submit-wrapper {
    margin-inline-end: calc(var(--padding-inline) * -1);
    padding-inline-end: var(--x-spacing-small-200);
    block-size: var(--field-min-height);
    display: flex;
    align-items: center;
  }
  .auth-submit-button {
    --x-default-color-background: rgb(0, 0, 0);
    padding: 9.3px;
    background-color: var(--x-default-color-background);
    box-shadow: none;
    opacity: 1 !important;
  }
  .auth-input.ng-untouched.ng-invalid + .auth-input-accessory .auth-submit-button,
  .auth-input.ng-touched.ng-invalid + .auth-input-accessory .auth-submit-button,
  .auth-submit-button.inactive {
    --x-default-color-background: none;
    border: none;
  }
  .auth-icon-wrapper {
    display: flex;
    justify-content: center;
    pointer-events: none;
    transition-timing-function: var(--x-timing-ease-out);
    transition-duration: var(--x-duration-fast);
    transition-property: all;
    text-align: center;
  }
  .auth-icon-wrapper span {
    --x-default-color-info: #ffffff;
    display: block;
    max-width: 100%;
    max-height: 100%;
    color: var(--x-default-color-info);
    transition-duration: var(--x-duration-base);
    transition-property: color,background-color,border-color,box-shadow;
    transition-timing-function: var(--x-timing-base);
    width: calc(var(--x-typography-size-default) * 1);
    height: calc(var(--x-typography-size-default) * 1);
    min-width: calc(var(--x-typography-size-default) * 1);
    min-height: calc(var(--x-typography-size-default) * 1);
    stroke: currentColor;
  }
  .auth-input.ng-untouched.ng-invalid + .auth-input-accessory .auth-submit-button .auth-icon-wrapper span,
  .auth-input.ng-touched.ng-invalid + .auth-input-accessory .auth-submit-button .auth-icon-wrapper span,
  .auth-submit-button.inactive .auth-icon-wrapper span {
    --x-default-color-info: #000000;
  }
  .auth-icon-wrapper svg {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    fill: none;
    stroke-width: 1.5px;
  }
  .auth-submit-button.loading .auth-icon-wrapper {
    opacity: 0;
  }
  .auth-error {
    color: rgb(200, 17, 17);
  }
  .auth-spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.5);
    transform-origin: left top;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: var(--x-duration-fast);
    transition-timing-function: var(--x-timing-ease-out);
    transition-property: all;
    transition-delay: var(--x-duration-fast);
  }
  .auth-submit-button.loading .auth-spinner-wrapper {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  .auth-spinner {
    --x-default-color-spinner: #ffffffff;
    --spinner-size: calc(var(--x-typography-size-default) * 1.2857142857142858);
    min-width: var(--spinner-size);
    min-height: var(--spinner-size);
    width: var(--spinner-size);
    height: var(--spinner-size);
    max-width: 100%;
    max-height: 100%;
    color: var(--x-default-color-spinner);
    transition-duration: var(--x-duration-base);
    transition-timing-function: var(--x-timing-base);
    transition-property: color,background-color,border-color,box-shadow;
    animation: _fadein .5s ease-in-out,_rotate .5s linear infinite;
    fill: currentColor;
  }
  .auth-submit-button.inactive {
    --x-default-color-spinner: #000000;
  }

  .auth-spinner svg {
    width: 100%;
    height: 100%;
    transform: scale(1);
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  .auth-input-box-container {
    position: relative;
    display: flex;
    color: var(--x-default-color-text);
    font-family: var(--x-typography-primary-fonts), sans-serif;
    font-weight: var(--x-typography-font-weight);
    letter-spacing: var(--x-global-typography-kerning);
  }
  .auth-checkbox-wrapper {
    --checkbox-size: calc((var(--x-typography-size-default) * 18) / 14);
    flex-shrink: 0;
    position: relative;
    height: round(down,var(--checkbox-size),1px);
    width: round(down,var(--checkbox-size),1px);
  }
  .auth-check-box {
    appearance: none;
    border: 1px solid transparent;
    overflow: visible;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition-duration: var(--x-duration-fast);
    transition-property: all;
    transition-timing-function: var(--x-timing-ease-out);
    background-color: var(--x-default-color-background);
    color: var(--x-default-color-text);
    background-clip: padding-box;
    border-radius: var(--x-border-radius-small);
    box-sizing: content-box;
    box-shadow: 0 0 0 1px var(--x-default-color-border) inset;
  }
  .auth-check-box::before {
    content: "";
    display: block;
    border-radius: calc(var(--x-border-radius-small) - 1px);
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0 0 0 0 #000000 inset,0 0 0 0 #000000;
    opacity: .3;
    transition: box-shadow var(--x-duration-fast) var(--x-timing-ease-out);
  }

  /**/
  .auth-check-box:focus,
  .auth-check-box:active:enabled {
    box-shadow:0 0 0 .1rem #000000 inset;
    outline:none
  }
  .auth-check-box:focus:before,
  .auth-check-box:active:before {
    box-shadow:0 0 0 .1rem #000000 inset,0 0 0 .2rem #000000;
  }
  .auth-check-box:focus:not(:focus-visible):before,
  .auth-check-box:active:not(:focus-visible):before {
    box-shadow:none
  }
  .auth-check-box:focus-visible:before {
    box-shadow:0 0 0 .1rem #000000 inset,0 0 0 .2rem var(--x-default-color-accent)
  }
  /**/
  .auth-check-box:checked {
    box-shadow: 0 0 0 calc((var(--checkbox-size) / 2) + 1px) #000000 inset;
  }


  [type="checkbox"], [type="radio"] {
    padding: 0;
  }
  .auth-check-box-icon {
    --x-default-color-icon: currentColor;
    opacity: 0;
    position: absolute;
    left: calc(50% + 1px);
    color: #ffffff;
    top: calc(50% + 1px);
    transform: translate(-50%,-50%);
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: var(--x-duration-fast);
    pointer-events: none;
  }

  .auth-check-box:checked + .auth-check-box-icon {
    opacity: 1;
  }
  .auth-check-box-icon span {
    --checkbox-icon-size: calc(var(--x-typography-size-default) * .7142857142857143);
    display: block;
    max-width: 100%;
    max-height: 100%;
    color: var(--x-default-color-icon);
    stroke: currentColor;
    min-width: var(--checkbox-icon-size);
    min-height: var(--checkbox-icon-size);
    width: var(--checkbox-icon-size);
    height: var(--checkbox-icon-size);
    transition-duration: var(--x-duration-base);
    transition-property: color,background-color,border-color,box-shadow;
    transition-timing-function: var(--x-timing-base);
  }
  .auth-check-box-icon svg {
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    fill: none;
    stroke-width: 1.5px;
  }
  .auth-checkbox-wrapper + label {
    display: block;
    padding-left: var(--x-spacing-small-100);
    max-width: 100%;
    cursor: pointer;
    font-size: var(--x-typography-size-default);
    line-height: var(--x-global-typography-line-size-default);
  }
  /*================= Media =====================*/
  @media (min-width: 854px) {
    .auth-container {
      display: grid;
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
    .auth-banner {
      display: block;
    }
  }
}
@keyframes _rotate {
  0% {
    transform:rotate(0)
  }
  to {
    transform:rotate(360deg)
  }
}
@keyframes _fadein {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes _blink {
  0%,
  to {
    opacity:1
  }
  50% {
    opacity:0
  }
}
@keyframes _digitEnter {
  0% {
    opacity:0;
    transform:translateY(4px) scale(.95)
  }
  70% {
    opacity:1;
    transform:translateY(-1px) scale(1.02)
  }
  to {
    opacity:1;
    transform:translateY(0) scale(1)
  }
}
@keyframes _digitExit {
  0% {
    opacity:1;
    transform:translateY(0) scale(1)
  }
  30% {
    opacity:1;
    transform:translateY(-1px) scale(1.02)
  }
  to {
    opacity:0;
    transform:translateY(4px) scale(.95)
  }
}
@keyframes _shake {
  0%,
  to {
    transform:translate(0)
  }
  10% {
    transform:translate(-8px)
  }
  20% {
    transform:translate(8px)
  }
  30% {
    transform:translate(-6px)
  }
  40% {
    transform:translate(6px)
  }
  50% {
    transform:translate(-4px)
  }
  60% {
    transform:translate(4px)
  }
  70% {
    transform:translate(-2px)
  }
  80% {
    transform:translate(2px)
  }
  90% {
    transform:translate(-1px)
  }
}
