.swatch-almond {
  background-color:#e1bca6;
}
.swatch-animal-print {
  background-image: url("/assets/swatches/swatch-animal-print.png");
}
.swatch-black {
  background-color:#000000;
}
.swatch-blue {
  background-color:#90c4f7;
}
.swatch-bronze {
  background-color:#8d4b10;
}
.swatch-brown {
  background-color:#7b4b3a;
}
.swatch-caramel {
  background-color:#8e3413;
}
.swatch-cedar {
  background-color:#d8916d;
}
.swatch-chartreuse {
  background-color:#a2c33a;
}
.swatch-chestnut {
  background-color:#8f5647;
}
.swatch-emerald {
  background-color:#257941;
}
.swatch-gold {
  background-color:#d7b565;
}
.swatch-green {
  background-color:#bfd79d;
}
.swatch-honeysuckle {
  background-color:#e8b9a0;
}
.swatch-hot-pink {
  background-color:#e13478;
}
.swatch-ivory {
  background-color:#ffffff;
}
.swatch-indigo {
  background-color: #4b0082;
}
.swatch-leopard {
  background-image: url("/assets/swatches/swatch-animal-print2.png");
}
.swatch-limoncello {
  background-color:#fae640;
}
.swatch-love {
  background-color:#d11a48;
}
.swatch-magenta {
  background-color:#ff00ff;
}
.swatch-mahogany {
  background-color:#4c291f;
}
.swatch-maple {
  background-color:#e6d4c5;
}
.swatch-midnight {
  background-color:#1d3884;
}
.swatch-mulberry {
  background-color:#a42c52;
}
.swatch-multi {
  background-image: url("/assets/swatches/swatch-multi.png");
}
.swatch-mystic {
  background-color:#77439f;
}
.swatch-navy {
  background-color:#081864;
}
.swatch-neon-pink {
  background-color:#eb4b60;
}
.swatch-nude {
  background-color:#e6cba8;
}
.swatch-ocean {
  background-color:#55b5be;
}
.swatch-orange {
  background-color:#f27f5a;
}
.swatch-pink {
  background-color:#fa94c7;
}
.swatch-purple {
  background-color:#c9b6e4;
}
.swatch-python {
  background-color:#13b4c3;
}
.swatch-rainbow {
  background-image: url("/assets/swatches/swatch_rainbow.jpg");
}
.swatch-red {
  background-color:#cf4752;
}
.swatch-rosewood {
  background-color:#b26c51;
}
.swatch-shimmer {
  background-image: url("/assets/swatches/swatch-shimmer.jpg");
}
.swatch-sky-blue {
  background-color:#C5E3F7;
}
.swatch-sparkling-pink {
  background-color:#eebcd1;
}
.swatch-toffee {
  background-color:#edcaaa;
}
.swatch-white {
  background-color:#f8f7f3;
}
.swatch-yellow {
  background-color:#fff3b0;
}
.swatch-dark-cherry {
  background-color: #800020;
}
