@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:300;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicLight.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicBook.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicMedium.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:600;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicDemi.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicBold.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:800;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicHeavy.woff) format("woff")
}
@font-face {
  font-family:Futura PT;
  font-style:normal;
  font-weight:900;
  font-display:swap;
  src:url(/assets/fonts/FuturaCyrillicExtraBold.woff) format("woff")
}
main.madjun-kit {
  --spacing-100: .25rem;
  --spacing-200: .5rem;
  --spacing-300: 1rem;
  --spacing-400: 1.5rem;
  --spacing-500: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 4rem;
  --spacing-800: 5rem;
  --spacing-900: 6.5rem;
  --easing-100: .12s;
  --easing-300: .24s;
  --easing-500: .36s;
  --transition-100: var(--easing-100) ease;
  --transition-300: var(--easing-300) ease;
  --transition-500: var(--easing-500) ease;
  --grey-100: #F7F8F9;
  --grey-200: #EAEAEA;
  --grey-300: #C9CBCF;
  --grey-600: #8B8F94;
  --grey-700: #6D7278;
  --grey-800: #41454A;
  --grey-900: #2D3138;
  --primary-color: #E2DBD1;
  --primary-text-color: black;
  --secondary-color: #E2DBD1;
  --secondary-text-color: black;
  --theme-primary-color: #E2DBD1;
  --theme-button-background-color: #E2DBD1;
  --theme-button-text-color: black;
  --theme-text-color: white;
  --theme-text-background-color: black;
  --button-case: normal;
  --button-background-color: #E2DBD1;
  --button-text-color: black;
  --input-offset: 0px;
  --yellow-500-rgb: 242, 210, 0;
  --yellow-500: rgb(var(--yellow-500-rgb));
  --yellow-500-shadow: rgba(var(--yellow-500-rgb), .2);
  --red-300-rgb: 201, 75, 59;
  --red-300: rgb(var(--red-300-rgb));
  --red-300-shadow: rgba(var(--red-300-rgb), .2);
  --green-500-rgb: 72, 194, 141;
  --green-500: rgb(var(--green-500-rgb));
  --green-500-shadow: rgba(var(--green-500-rgb), .2);
  --blue-500-rgb: 219, 231, 255;
  --blue-500: rgb(var(--blue-500-rgb));
  --blue-500-shadow: rgba(var(--blue-500-rgb), .2);

  --mj-global-text-font-family: "Futura PT";
  --mj-global-text-font-size: 16px;
  --mj-global-text-font-weight: 400;
  --mj-global-text-line-height: 1.5;
  --mj-global-text-letter-spacing: normal;
  --mj-global-font-family: "Futura PT";
  --mj-global-font-size: 24px;
  --mj-global-font-weight: 500;
  --mj-global-line-height: 1.4;
  --mj-global-text-transform: none;
  --mj-global-letter-spacing: normal;

  --mj-secondary-font-family: "Futura PT";
  --mj-secondary-font-size: 26px;
  --mj-secondary-font-weight: 500;
  --mj-secondary-line-height: 39px;
  --mj-secondary-text-transform: uppercase;

  --mj-global-color-primary:#f1ece4;
  --mj-global-color-secondary:#202124;
  --mj-corners: 8px;


  font-family: var(--mj-global-font-family) ,DM Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: var(--mj-global-text-font-size);
  font-weight: var(--mj-global-text-font-weight);
  line-height: var(--mj-global-text-line-height);
  background-color:var(--mj-global-color-primary);

  h1 {
    font-family: var(--mj-global-font-family), sans-serif;
    font-size: var(--mj-global-font-size);
    font-weight: var(--mj-global-font-weight);
    line-height: var(--mj-global-line-height);
    text-transform: var(--mj-global-text-transform);
    letter-spacing: var(--mj-global-letter-spacing);
    margin-bottom: 16px;
  }
  h2 {
    font-family: var(--mj-secondary-font-family), sans-serif;
    font-size: var(--mj-secondary-font-size);
    font-weight: var(--mj-secondary-font-weight);
    line-height: var(--mj-secondary-line-height);
    text-transform: var(--mj-secondary-text-transform);
    color: var(--mj-global-color-secondary);
  }
  .animation--spin {
    animation-name:spin;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear
  }
  @keyframes spin {
    0% {
      transform:rotate(90deg)
    }
    to {
      transform:rotate(450deg)
    }
  }
  @keyframes pulse {
    0% {
      opacity:1
    }
    50% {
      opacity:.8
    }
    to {
      opacity:1
    }
  }

  .LogoImage.is-mobile {
    display:block
  }
  .LogoImage.is-desktop {
    display:none
  }

  .Login-form {
    margin-top: 24px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .level.justify--start {
    justify-content: flex-start;
  }
  .level > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .Field {
    margin:16px 0
  }
  .Field:first-child {
    margin-top:0
  }
  .Field:last-child {
    margin-bottom:0
  }
  .FieldLabel {
    font-weight:500;
    opacity: .75;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom:4px
  }
  .FieldLabel:first-child {
    margin-top:0
  }
  .FieldLabel:last-child {
    margin-bottom:0
  }
  @media (min-width: 600px) {
    .FieldLabel {
      font-size: 16px;
    }
  }
  .FieldHeader,
  .FieldLabel {
    display:block
  }
  .FieldHeader * {
    pointer-events:none
  }

  .FieldTitle {
    opacity:1
  }
  .FieldDescription {
    display:block;
    margin:8px 0 0;
    opacity:.5
  }
  .FieldDescriptionBefore {
    margin:0 0 8px
  }
  .FieldError {
    display:block;
    color:#ff5630;
    margin-top:8px;
    font-size:12px;
  }
  @media (min-width: 600px) {
    .FieldError {
      font-size: 14px;
    }
  }
  .Field.is-disabled {
    pointer-events:none
  }
  .Field.is-disabled input,
  .Field.is-disabled select,
  .Field.is-disabled textarea {
    background:#eee
  }
  .Field.is-inactive {
    opacity:.5
  }
  .Field.is-valid .InputContainer .ValidIndicator {
    opacity:1
  }
  .Field.is-valid .InputContainer .ValidIndicator:before {
    opacity:1;
    transform:none
  }
  .Field .InputContainer input.ng-valid + .ValidIndicator {
    opacity:1
  }
  .Field .InputContainer input.ng-valid + .ValidIndicator:before {
    opacity:1;
    transform:none
  }
  .Field.is-loading {
    pointer-events:none
  }
  .Field.is-loading input,
  .Field.is-loading select,
  .Field.is-loading textarea {
    background:transparent;
    pointer-events:none
  }
  .Field.is-loading-field .InputContainer:before {
    animation:spin 1s ease infinite;
    opacity:1
  }
  .Field.is-not-required .FieldLabel:after {
    content:" - optional";
    font-style:italic;
    opacity:.4
  }
  .Field.is-required .asterisks {
    color:#de350b
  }
  .Field.has-error .InputContainer input {
    box-shadow:inset 0 0 0 1px #ff5630!important
  }
  .Field.has-error .InputContainer input:focus {
    box-shadow:inset 0 0 0 2px #ff5630!important
  }
  .Field .InputContainer input.ng-touched.ng-invalid {
    box-shadow:inset 0 0 0 1px #ff5630!important
  }
  .Field .InputContainer input.ng-touched.ng-invalid:focus {
    box-shadow:inset 0 0 0 2px #ff5630!important
  }
  .Field.has-floating-label input {
    padding-top:6px
  }
  .Field .InputContainer {
    position:relative
  }
  .Field .InputContainer:before {
    content:"";
    border:2px solid rgba(0,0,0,.1);
    border-top-color:rgba(0,0,0,.5);
    border-radius:50%;
    top:50%;
    margin-top:-11px;
    margin-left:-11px;
    z-index:1
  }
  .Field .InputContainer .ValidIndicator,
  .Field .InputContainer:before {
    position:absolute;
    width:20px;
    height:20px;
    right:12px;
    opacity:0;
    pointer-events:none
  }
  .Field .InputContainer .ValidIndicator {
    top:14px;
    display:flex;
    align-items:center;
    justify-content:center
  }
  .Field .InputContainer .ValidIndicator:before {
    content:"";
    width:20px;
    height:14px;
    display:block;
    transition:all .3s cubic-bezier(.19,1,.22,1);
    background:url(/assets/images/madjun-kit/check-green@2x.png) 50% no-repeat;
    background-size:20px 14px;
    opacity:0;
    transform:scale(.9)
  }
  @media(min-width:600px) {
    .Field .InputContainer .ValidIndicator {
      top:10px
    }
  }
  .Field .FloatingFieldLabel {
    position:absolute;
    pointer-events:none;
    top:1px;
    left:8px;
    background:#fff;
    margin:-6px 0 0;
    padding:0 4px;
    line-height:1;
    transition:all .3s ease
  }
  .Field .FloatingFieldLabel.is-hidden {
    opacity:0;
    transform:translateY(5px)
  }
  .Field input:not([type=checkbox]):not([type=radio]),
  .Field select,
  .Field textarea {
    -webkit-appearance:none;
    font-size:16px;
    font-family:inherit;
    border-radius:4px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);
    height:44px;
    padding:0 12px;
    width:100%;
    background:transparent
  }
  .Field input:not([type=checkbox]):not([type=radio]):focus,
  .Field select:focus,
  .Field textarea:focus {
    box-shadow:inset 0 0 0 2px #444;
    outline:none;
  }
  @media(min-width:600px) {
    .Field input:not([type=checkbox]):not([type=radio]),
    .Field select,
    .Field textarea {
      height:40px
    }
  }
  .Field.theme-light input:not([type=checkbox]):not([type=radio]),
  .Field.theme-light select,
  .Field.theme-light textarea {
    background:#fff;
    box-shadow:none
  }
  .Field.theme-inverted input:not([type=checkbox]):not([type=radio]),
  .Field.theme-inverted select,
  .Field.theme-inverted textarea {
    color:#fff;
    box-shadow:inset 0 0 0 1px hsla(0,0%,100%,.4)
  }
  .Field.theme-inverted input:not([type=checkbox]):not([type=radio]):focus,
  .Field.theme-inverted select:focus,
  .Field.theme-inverted textarea:focus {
    box-shadow:inset 0 0 0 2px hsla(0,0%,100%,.8)
  }
  .Field.has-value>.InputContainer {
    background-color:#f7f5f5;
    box-shadow:none!important
  }
  .Field.SelectField .InputContainer:after {
    content:"";
    position:absolute;
    top:50%;
    right:16px;
    width:0;
    height:0;
    margin-top:-3px;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
    border-top:8px solid rgba(0,0,0,.2)
  }
  .Field.SelectField .InputContainer .ValidIndicator {
    display:none
  }
  .TextArea textarea {
    padding:10px 12px;
    resize:none;
    position:relative;
    overflow:hidden;
    height:40px;
    background:#fff
  }
  .Field textarea {
    padding:10px 12px
  }
  .Button {
    position:relative;
    text-align:center;
    font-weight:500;
    letter-spacing:.02em;
    padding:12px 16px;
    border-radius:8px;
    background:#000;
    width:auto;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    line-height:1;
    font-size:14px;
    user-select:none;
    transition:all .3s cubic-bezier(.19,1,.22,1);
    margin-top: 8px;
  }
  .Button .PlaceholderText {
    opacity:.2
  }
  .Button:first-child {
    margin-top:0
  }
  .Button:focus,
  .Button:hover {
    transform:scale(1.02);
    cursor:pointer;
    background:#222;
    color:#fff;
  }
  .Button:active {
    transform:scale(.95)
  }
  .Button:before {
    content:"";
    position:absolute;
    border:2px solid hsla(0,0%,100%,.2);
    border-top-color:#fff;
    border-radius:50%;
    width:20px;
    height:20px;
    top:50%;
    left:50%;
    margin-top:-11px;
    margin-left:-11px;
    opacity:0;
    transition:all .3s ease;
    z-index:1
  }
  .Button.theme-secondary {
    background:#f2f2f2;
    color:#000
  }
  .Button.theme-secondary:focus,
  .Button.theme-secondary:hover {
    background:#eee
  }
  .Button.theme-subtle {
    background:#f8f8f8;
    color:#000
  }
  .Button.theme-subtle:focus,
  .Button.theme-subtle:hover {
    background:#eee
  }
  .Button.theme-dark {
    background:#222;
    color:#fff
  }
  .Button.theme-dark:focus,
  .Button.theme-dark:hover {
    background:#444
  }
  .Button.theme-white {
    background:#fff;
    color:#000
  }
  .Button.theme-white:focus,
  .Button.theme-white:hover {
    background:#eee
  }
  .Button.theme-blue {
    background:#2684ff;
    color:#fff
  }
  .Button.theme-blue:focus,
  .Button.theme-blue:hover {
    background:#4c9aff
  }
  .Button.theme-green {
    background:#36b37e;
    color:#fff
  }
  .Button.theme-green:focus,
  .Button.theme-green:hover {
    background:#57d9a3
  }
  .Button.theme-green--subtle {
    background:#79f2c0;
    color:#000
  }
  .Button.theme-green--subtle:focus,
  .Button.theme-green--subtle:hover {
    background:#abf5d1
  }
  .Button.theme-red--subtle {
    background:#ffebe6;
    color:#000
  }
  .Button.theme-red--subtle:focus,
  .Button.theme-red--subtle:hover {
    background:#ff8f73
  }
  .Button.size-small {
    padding:8px;
    min-height:32px
  }
  .Button.is-full {
    width:100%;
    padding:0 16px;
    height:40px
  }
  @media(max-width:600px) {
    .Button.is-full--mobile {
      width:100%;
      padding:0 16px;
      height:40px
    }
  }
  .Button.ShopButton {
    margin: auto;
    display: flex;
    width: 40%;
  }
  .Button.is-small {
    padding:12px
  }
  .Button.is-disabled {
    pointer-events:none;
    opacity:.25
  }
  .Button.is-loading {
    pointer-events:none;
    color:hsla(0,0%,100%,0);
    animation:pulse 1.5s ease infinite;
    transform:scale(.95)
  }
  .Button.is-loading:before {
    animation:spin 1s linear infinite;
    opacity:1
  }
  .Button.is-loading-withtouch {
    pointer-events:all
  }
  .Button.is-custom {
    padding:0;
    background:transparent!important
  }
  .Button>* {
    margin:0 4px
  }
  .Button>:first-child {
    margin-left:0
  }
  .Button>:last-child {
    margin-right:0
  }
  .SubmitButton {
    position:absolute;
    pointer-events:none;
    opacity:0;
    height:0;
    width:0
  }

  .ToastContainer {
    position:fixed;
    top:8px;
    left:8px;
    right:8px;
    z-index:200
  }
  @media(min-width:600px) {
    .ToastContainer {
      left:0;
      right:0;
      margin:0 auto;
      max-width:420px
    }
  }
  @media(min-width:800px) {
    .ToastContainer {
      top:40px;
      right:40%
    }
  }
  @media(min-width:1024px) {
    .ToastContainer {
      right:50%
    }
  }
  .ToastItem {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background:#000;
    color:#fff;
    border-radius:4px;
    pointer-events:none;
    transition:all .3s cubic-bezier(.175,.885,.32,1.275);
    padding:8px 16px
  }
  .ToastItem:first-child {
    z-index:2
  }
  .ToastItem:first-child.not-ready {
    opacity:0;
    transform:translateY(-8px) scale(.95)
  }
  .ToastItem:first-child.is-out {
    transform:scale(.95)
  }
  .ToastItem:nth-child(2) {
    z-index:1;
    opacity:.5;
    transform:translateY(6px) scale(.95)
  }
  .ToastItem:nth-child(2).not-ready {
    opacity:0;
    transform:translateY(12px) scale(.9)
  }
  .ToastItem:nth-child(3) {
    z-index:0;
    opacity:.1;
    transform:translateY(12px) scale(.9)
  }
  .ToastItem:nth-child(3).not-ready {
    opacity:0;
    transform:translateY(18px) scale(.85)
  }
  .ToastItem.is-out {
    opacity:0!important
  }
  .ToastTitle {
    line-height:1;
    font-weight:500
  }
  .ToastText,
  .ToastTitle {
    font-size:14px;
    text-align:center
  }
  .ToastText {
    line-height:1.4;
    font-weight:400
  }
  .type-error {
    background:#ff5630
  }
  .type-warning {
    background:#ff8b00
  }
  .type-success {
    background:#36b37e
  }
  .type-info {
    background:#0065ff
  }
  .type-subtle {
    background:#eee;
    color:#000
  }

  .SkeletonText {
    border-radius:2px;
    background:#000;
    min-width:2em;
    display:inline-block;
    color:transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    opacity:.1;
    animation:fade 1s ease infinite alternate;
    height:1em;
    margin:.25em 0
  }
  @keyframes fade {
    0% {
      opacity:.1
    }
    to {
      opacity:.05
    }
  }
  .progressBar {
    position: absolute;
    top:0;
    left:0;
    height:4px;
    width:100%;
    border-radius:9px;
    background-color:#fcfcfc;
    visibility: hidden;
  }
  .progressBar.width-50 {
    width:50%;
  }
  .progressBar.loading {
    visibility: visible;
  }
  .progressBar .progress {
    height:4px;
    border-radius:9px;
    background-color:rgba(0,0,0,1);
    width: 0;
    transition-property: width;
    transition-duration:3000ms;
    transition-timing-function: linear;
    will-change:width;
  }
  .progressBar.loading .progress {
    width: 100%;
  }

  .FloatingCard {
    position:relative;
    box-shadow:0 40px 32px -32px rgba(0,0,0,.4);
    border-radius:8px;
    overflow:hidden;
    user-select:none;
    margin:0 auto;
  }
  .FloatingCard.is-ready {
    background-color:rgba(0,0,0,1);
    background-image: none;
  }
  .FloatingCard * {
    user-select:none;
    pointer-events:none
  }
  .FloatingCard.is-ready {
    transition:all .5s cubic-bezier(.19,1,.22,1)
  }
  @media(min-width:600px) {
    .FloatingCard.is-ready:focus,
    .FloatingCard.is-ready:hover {
      transform:scale(1.02);
      box-shadow:0 40px 36px -32px rgba(0,0,0,.4)
    }
  }
  .FloatingCard.is-ready:active {
    transform:scale(.95);
    box-shadow:0 32px 24px -24px rgba(0,0,0,.4)
  }
  .StoreCard {
    color:#fff;
    margin:0 auto;
    padding:20px;
    background:50% no-repeat;
    background-size:cover
  }
  .StoreCardHeader {
    display: flex;
    flex-direction: column;
    margin-bottom:15px
  }
  .StoreCardHeaderUser {
    display:flex;
    margin-top:5px;
    font-size:14px
  }
  .StoreCardHeaderUser .name {
    display:inline-block;
    font-weight:700;
    margin-right:10px
  }
  .StoreCardHeaderUser .join_date {
    line-height: normal;
    display:inline-block
  }
  .StoreCardDescription {
    line-height: normal;
    margin:15px 0 0;
    display:flex;
    align-items:flex-end;
    justify-content:space-between
  }
  .StoreCardDescriptionName {
    font-size:18px;
    font-weight:500;
    line-height:1;
    margin-top:4px
  }
  .StoreCardDescriptionNumber {
    font-size:12px;
    font-weight:700;
    letter-spacing:.05em
  }
  .StoreCardProgramName {
    font-size:18px;
    line-height: normal;
    font-weight:700
  }
  .StoreCardFooter {
    height:25px;
    display:flex;
    justify-content:space-between;
    line-height:0;
    margin-top:20px
  }
  .StoreCardBalance {
    font-size:20px;
    font-weight:500;
    text-align:right;
    letter-spacing:.05em;
    line-height:16px;
  }
  .StoreCardLogo {
    height:16px;
    flex:1 0 auto;
    background: url("/assets/images/logo/profile-card-logo2.png") no-repeat 100% 50%;
    background-size:contain;
    line-height:0;
  }
  .StoreCardBarcode {
    margin-top:16px
  }
  .StoreCardBarcode .BarcodeText {
    font-size:14px;
    line-height:18px;
    text-align:center;
    font-weight:700
  }
  .StoreCardAdd {
    text-align:center;
    margin-top:24px;
    line-height:0;
    font-size:0
  }
  .Barcode {
    display:block;
    position:relative;
    overflow:hidden;
    text-align:center;
    height: 32px;
  }
  .BarcodeWrapper {
    padding:4px;
    margin:0 auto;
    background:#fff;
    border-radius:4px
  }
  .BarcodeTransform {
    display:inline-block;
    transform-origin:0 0
  }

  .BaseCard {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    font-family:var(--mj-global-font-family), sans-serif;
    color:#747980;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    width:-webkit-fill-available;
    padding:3rem;
    border-radius:calc(var(--mj-corners) * 2);
    border:1px solid #eaeaea;
    background-color:#fff;
    box-shadow:0 1px 4px rgba(0,0,0,.12),0 6px 12px rgba(0,0,0,.08);
    text-align:left;
    text-decoration:none;
    transition:box-shadow .24s ease;
  }
  .BaseCard__heading {
    margin: .5rem 0 0;
    text-align:center;
  }
  .BaseCard__subheading {
    margin-top: .5rem;
    text-align: center;
    font-weight: 300;
    font-size: .9375rem;
    line-height: 1.47;
    text-transform: uppercase;
  }
  .BaseCard__subheading p {
    margin: 0;
    font-size: 15px;
    color: #747980;
    line-height: 22px;
  }
  .order-lookup__form {
    max-width:calc(480px - var(--spacing-600) * 2);
    width:100%;
    margin:var(--spacing-500) auto 0 auto
  }
  .order-lookup__line {
    position:relative;
    margin-bottom:.75rem
  }
  .order-lookup__tip-wrapper {
    right:-.5rem;
    pointer-events:all
  }
  .order-lookup__tip {
    position:relative;
    -webkit-appearance:none;
    appearance:none;
    background:transparent;
    border:0;
    padding:var(--spacing-200);
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--grey-600);
    border-radius:var(--mj-corners);
    transition:background-color var(--easing-300),color var(--easing-300);
    pointer-events:all!important
  }
  .order-lookup__tip:before {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:2.75rem;
    height:2.75rem;
    transform:translate3d(-50%,-50%,0)
  }
  .order-lookup__tip:hover {
    background:var(--grey-200);
    cursor:pointer
  }
  .order-lookup__tip.focus-visible {
    outline:none;
    background:#E2DBD1;
    color:black;
  }
  .order-lookup__tip-icon {
    width:1.25rem
  }
  .order-lookup__input {
    appearance:none;
    font-size:1rem;
    padding:1rem
  }
  .order-lookup__input:focus {
    outline:none
  }
  .order-lookup__input.has-tip {
    padding-right:2.75rem
  }
  .order-lookup__submit {
    width:100%;
    margin-top:1.25rem
  }
  .order-lookup__errors {
    text-align:center;
    padding:.5rem
  }
  .order-lookup__automatic {
    display:flex;
    flex-direction:column;
    align-items:center
  }
  .order-lookup__loader {
    margin-top:var(--spacing-400)
  }

  .base-input {
    --padding-left-offset: 0px;
    --padding-right-offset: 0px;

    display:flex;
    flex-direction:column
  }
  .base-input.has-icon {
    --padding-right-offset: 48px;
  }
  .base-input__input {
    font-family:inherit;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:var(--grey-900);
    margin:0;
    padding: calc(var(--spacing-300) + var(--input-offset) / 2) calc(var(--spacing-300) + var(--padding-right-offset)) calc(var(--spacing-300) - var(--input-offset) / 2) calc(var(--spacing-300) + var(--padding-left-offset));
    border:1px solid var(--grey-300);
    border-radius:var(--mj-corners);
    box-shadow:0 0 0 1px transparent;
    transition:border-color var(--transition-300),box-shadow var(--transition-300);
    -webkit-appearance:none;
    appearance:none;
    background:#fff
  }
  .base-input__input.textarea {
    min-height:10rem
  }
  .base-input__input__icons >* {
    pointer-events:all
  }
  .base-input__input.select {
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7526 16.1399L17.5488 10.6585C18.1146 10.0119 17.6554 9 16.7962 9L7.20377 9C6.34461 9 5.88543 10.0119 6.45119 10.6585L11.2474 16.1399C11.6458 16.5952 12.3542 16.5952 12.7526 16.1399Z' fill='black'/%3E%3C/svg%3E");
    background-position:calc(100% - var(--spacing-300)) 50%;
    background-repeat:no-repeat;
    background-size:1.5rem
  }
  .base-input__input.select:focus:active {
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2474 7.86009L6.45119 13.3415C5.88543 13.9881 6.34461 15 7.20377 15L16.7962 15C17.6554 15 18.1146 13.9881 17.5488 13.3415L12.7526 7.86009C12.3542 7.40476 11.6458 7.40476 11.2474 7.86009Z' fill='black'/%3E%3C/svg%3E")
  }
  .base-input__input.select.focus-visible {
    outline:none;
    border-color:var(--primary-color);
    box-shadow:0 0 0 1px var(--primary-color)
  }
  .base-input__input.select:-moz-focusring {
    color:transparent;
    text-shadow:0 0 0 black
  }
  .base-input__input.select:disabled {
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7526 16.1399L17.5488 10.6585C18.1146 10.0119 17.6554 9 16.7962 9L7.20377 9C6.34461 9 5.88543 10.0119 6.45119 10.6585L11.2474 16.1399C11.6458 16.5952 12.3542 16.5952 12.7526 16.1399Z' fill='%238B8F94'/%3E%3C/svg%3E")
  }
  .base-input__input::placeholder {
    color:var(--grey-700)
  }
  .base-input__input:not(:focus)::placeholder {
    color:transparent
  }
  .base-input__input:not(:placeholder-shown) {
    border-color:var(--grey-600)
  }
  .base-input__input:hover {
    border-color:var(--grey-700)
  }
  .base-input__input.error {
    border-color:var(--red-300);
    box-shadow:0 0 0 1px var(--red-300)
  }
  .base-input__input:focus:not(.select) {
    outline:none;
    border-color:var(--primary-color);
    box-shadow:0 0 0 1px var(--primary-color)
  }
  .base-input__input:disabled {
    background-color:var(--grey-100)!important;
    color:var(--grey-600)!important;
    cursor:not-allowed!important;
    border-color:transparent!important;
    box-shadow:0 0 0 1px transparent
  }
  .input-wrapper {
    position:relative
  }
  .input-wrapper__label {
    --max-width: calc(100% - ((var(--spacing-300) * 2) - 4px + var(--padding-left-offset) + var(--padding-right-offset)));
    font-family:inherit;
    font-size:1rem;
    font-weight:400;
    position:absolute;
    z-index:1;
    top:calc(var(--spacing-300) + .25rem);
    left:calc(var(--spacing-300) - 4px + var(--padding-left-offset));
    background-color:#fff;
    border-left:4px solid white;
    border-right:4px solid white;
    color:var(--grey-700);
    transform-origin:0 0;
    line-height:1.2;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:var(--max-width);
    transition:transform var(--easing-100) linear,color var(--transition-300),max-width var(--transition-100)
  }
  .input-wrapper__label:after {
    content:"";
    display:inline-block
  }
  .input-wrapper input:hover~.input-wrapper__label,
  .input-wrapper textarea:hover~.input-wrapper__label,
  .input-wrapper select:hover~.input-wrapper__label {
    color:#000
  }
  .input-wrapper input:disabled~.input-wrapper__label,
  .input-wrapper textarea:disabled~.input-wrapper__label,
  .input-wrapper select:disabled~.input-wrapper__label {
    cursor:not-allowed;
    background-color:transparent!important;
    color:var(--grey-600)!important;
    border-color:transparent!important
  }
  .input-wrapper input:focus~.input-wrapper__label,
  .input-wrapper input:not(:placeholder-shown)~.input-wrapper__label,
  .input-wrapper textarea:focus~.input-wrapper__label,
  .input-wrapper textarea:not(:placeholder-shown)~.input-wrapper__label {
    color:#000;
    transform:translate(calc(var(--padding-left-offset) * -1),calc((var(--spacing-300) + .75rem - var(--input-offset)) * -1)) scale(.8125);
    max-width:113%
  }
  .input-wrapper select~.input-wrapper__label {
    pointer-events:none
  }
  .input-wrapper select:disabled~.input-wrapper__label {
    background-color:var(--grey-100)!important
  }
  .input-wrapper select:disabled.has-option~.input-wrapper__label {
    background-color:transparent!important
  }
  .input-wrapper select.has-option~.input-wrapper__label {
    color:#000;
    transform:translate(calc(var(--padding-left-offset) * -1),calc((var(--spacing-300) + .75rem - var(--input-offset)) * -1)) scale(.8125);
    max-width:calc(100% - ((var(--spacing-300) * 2) - 4px + var( --padding-left-offset ) + var(--padding-right-offset)) * 1.1875)
  }
  .input-wrapper__leading-icon {
    position:absolute;
    left:var(--spacing-300);
    top:0;
    height:58px;
    display:flex;
    align-items:center;
    pointer-events:none
  }
  .input-wrapper__icon {
    --icon-color: var(--grey-700)
  }
  .input-wrapper__icons {
    position:absolute;
    right:var(--spacing-300);
    top:0;
    height:58px;
    display:flex;
    align-items:center;
    pointer-events:none
  }
  .input-wrapper__icons * + * {
    margin-left:var(--spacing-100)
  }
  .input-wrapper__icons > * {
    pointer-events:all
  }
  .input-wrapper__bottom {
    font-family:inherit;
    color:black;
    font-size:.75rem;
    font-weight:400;
    line-height:1.33;
    display:flex;
    padding-left:var(--spacing-300);
    padding-right:var(--spacing-300)
  }
  .input-wrapper__messages {
    flex-grow:1
  }
  .input-wrapper__count {
    flex-shrink:0;
    margin-top:var(--spacing-100)
  }
  .input-wrapper__count.max {
    color:var(--red-300)
  }
  .input-wrapper__helper {
    color:var(--grey-900);
    margin: var(--spacing-100) 0 0;
  }
  .input-wrapper__error {
    color:var(--red-300);
    margin: var(--spacing-100) 0 0;
  }
  .input-wrapper__error-icon {
    --icon-color: var(--red-300);
    pointer-events:none
  }

  .legacy-button {
    user-select:none;
    display:block;
    position:relative;
    border:1px solid var(--theme-button-background-color);
    color:var(--theme-button-text-color);
    width:100%;
    padding:1.25rem 2rem;
    font-family:inherit;
    font-weight:500;
    font-size:15px;
    opacity:1;
    transition:background-color .3s,color .2s,border .2s,opacity .2s,filter .2s,box-shadow .2s;
    overflow:hidden;
    background-color:var(--theme-button-background-color);
    border-radius:var(--mj-corners);
  }
  /*popper*/
  .popper {
    position:relative;
    width:100%
  }
  .popper__content-wrapper {
    position:absolute;
    z-index:100000;
    display:flex;
    background-color:#fff;
    border:1px solid rgba(6,44,82,.15);
    filter:drop-shadow(0 2px 16px rgba(84,102,121,.15));
    border-radius:6px;
    top: 0;
    left: 0;
    opacity:0;
    height: 0;
    visibility:hidden;
    overflow:hidden;
    transform: translate3d(-143px, 72px, 0px);
  }
  .popper__content-wrapper.active {
    display: flex;
    opacity: 1;
    height: 100%;
    visibility: visible;
    overflow: visible;
    will-change: transform, opacity;
    transform: translate3d(-143px, 36px, 0px);
    transition: all .4s;
  }
  .popper__content-wrapper:before {
    content:"";
    position:absolute;
    z-index:-1;
    width:12px;
    height:12px;
    border-top-left-radius:2px;
    background-color:#fff;
    left:calc(50% - 6px)
  }
  .popper__content-wrapper.left:before {
    left:1rem
  }
  .popper__content-wrapper.right:before {
    left:auto;
    right:1rem
  }
  .popper__content-wrapper.fading {
    opacity:0;
    transition:opacity .24s ease
  }
  .popper__content-wrapper[x-placement^=top] {
    margin-bottom:1rem
  }
  .popper__content-wrapper[x-placement^=top]:before {
    transform:rotate(-135deg);
    bottom:-7px;
    border-top:1px solid rgba(6,44,82,.15);
    border-left:1px solid rgba(6,44,82,.15)
  }
  .popper__content-wrapper[x-placement^=bottom] {
    margin-top:1rem
  }
  .popper__content-wrapper[x-placement^=bottom]:before {
    transform:rotate(45deg);
    top:-7px;
    border-top:1px solid rgba(6,44,82,.15);
    border-left:1px solid rgba(6,44,82,.15)
  }
  .popper__content {
    display:flex;
    width:100%;
    height:100%;
    max-height:500px;
  }

  .pop-wrapper {
    position:relative;
    background-color:#fff;
    animation:slideIn .2s forwards;
    border-radius:6px
  }
  .pop-container {
    padding:.5rem 1rem;
    width:20rem;
    border-radius:6px;
    border-bottom:none;
    overflow:hidden
  }
  .pop-container p {
    text-align:left;
    padding:.75rem 0;
    margin: 0;
  }
  .pop-container a {
    font-size:.9rem;
    color: var(--theme-primary-color);
  }
  .pop-close {
    padding:0;
    position:absolute;
    top:-.85rem;
    right:-.85rem;
    width:1.9rem;
    height:1.9rem;
    background-color:var(--theme-primary-color);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:all .24s;
    pointer-events:all
  }
  .pop-close:hover,
  .pop-close:focus {
    cursor:pointer;
    filter:brightness(1.05)
  }
  .pop-close:hover img,
  .pop-close:focus img {
    opacity:1
  }
  .pop-close:focus {
    outline:none;
    transform:scale3d(1.2,1.2,1)
  }
  .pop-close img {
    filter:invert(1);
    width:40%;
    transition:all .24s;
    opacity:.85
  }
  /* Base button */
  .base-button {
    color:#000000;
    font-size:1rem;
    line-height:1.5;
    margin:0;
    position:relative;
    -webkit-appearance:none;
    appearance:none;
    border-radius:var(--mj-corners);
    border:none;
    font-weight:600;
    cursor:pointer;
    font-family:inherit;
    text-transform:var(--button-case);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    text-decoration:none;
    -webkit-user-select:none;
    user-select:none;
    transition:color var(--transition-300),background-color var(--transition-300)
  }
  .base-button:before {
    content:"";
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border-radius:var(--mj-corners);
    opacity:0;
    box-shadow:0 2px 6px transparent;
    transition:opacity var(--transition-300),background-color var(--transition-300),box-shadow var(--transition-300)
  }
  .base-button:disabled {
    cursor:not-allowed!important
  }
  .base-button:disabled:before,
  .base-button:disabled:after {
    display:none!important
  }
  .base-button:disabled:not(.activated) {
    background-color:var(--grey-100)!important;
    color:var(--grey-600)!important;
    border:none!important
  }
  .base-button.focus-visible {
    outline:none
  }
  .base-button.focus-visible:before {
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:.3;
    box-shadow:0 0 0 4px var(--primary-color);
    border-radius:var(--mj-corners)
  }

  .base-button.small {
    padding:var(--spacing-200) calc(var(--spacing-200) + var(--mj-corners))
  }
  .base-button.regular {
    padding:var(--spacing-300) calc(var(--spacing-300) + var(--mj-corners))
  }
  .base-button.primary {
    color:#000000;
    background-color:var(--button-background-color)
  }
  .base-button.primary:hover:not(:disabled):before {
    background-color:rgba(255,255,255,.2);
    opacity:1;
    box-shadow:0 2px 6px rgba(0,0,0,.2)
  }
  .base-button.primary:active:before {
    background-color:rgba(0,0,0,.2);
    opacity:1
  }
  .base-button.secondary {
    color:#000;
    border:1px solid var(--grey-300)
  }
  .base-button.secondary.focus-visible {
    border:1px solid var(--grey-100)
  }
  .base-button.secondary,
  .base-button.icon {
    background-color:#fff
  }
  .base-button.secondary:hover:not(:disabled),
  .base-button.icon:hover:not(:disabled) {
    background-color:var(--grey-100)
  }
  .base-button.secondary:active,
  .base-button.icon:active {
    background-color:var(--grey-200)
  }
  .base-button.icon {
    padding:0;
    border:none;
    border-radius:0
  }
  .base-button.icon:before,
  .base-button.icon:after {
    width:calc(100% + var(--spacing-300));
    height:calc(100% + var(--spacing-300));
    top:calc(var(--spacing-300) / 2 * -1);
    left:calc(var(--spacing-300) / 2 * -1)
  }
  .base-button.icon:after {
    content:"";
    position:absolute;
    z-index:1;
    border-radius:var(--mj-corners);
    opacity:0;
    box-shadow:inset 0 0 0 calc(var(--spacing-300) / 2) transparent;
    transition:opacity var(--transition-300),box-shadow var(--transition-300)
  }
  .base-button.icon:hover:not(:disabled) {
    background-color:var(--grey-100)
  }
  .base-button.icon:hover:not(:disabled):after {
    opacity:1;
    box-shadow:inset 0 0 0 calc(var(--spacing-300) / 2) var(--grey-100)
  }
  .base-button.icon:active {
    background-color:var(--grey-200)
  }
  .base-button.icon:active:after {
    opacity:1;
    box-shadow:inset 0 0 0 calc(var(--spacing-300) / 2) var(--grey-200)
  }
  .base-button.text {
    padding:var(--spacing-100) calc(var(--spacing-100) + var(--mj-corners) / 2);
    color:#000;
    background-color:#fff
  }
  .base-button.text:hover:not(:disabled) {
    background-color:var(--grey-100)
  }
  .base-button.text:active {
    background-color:var(--grey-200)
  }
  .base-button.link {
    background:transparent;
    display:inline;
    padding:0;
    border-radius:0;
    color:var(--primary-color)
  }
  .base-button.link:hover:not(:disabled) .base-button__text {
    background-size:80% 1px
  }
  .base-button.link.focus-visible:before {
    box-shadow:none;
    border-radius:0;
    background-color:var(--primary-color)
  }
  .base-button.link:disabled .base-button__text {
    background-image:linear-gradient(120deg,var(--grey-600),var(--grey-600))!important;
    background-size:100% 1px!important
  }
  .base-button.link .base-button__text {
    display:inline;
    background-color:transparent;
    background-image:linear-gradient(120deg,var(--primary-color),var(--primary-color));
    background-repeat:no-repeat;
    background-size:100% 1px;
    background-position:50% 95%;
    transition:background-size var(--easing-300)
  }
  .base-button.activated.activated .base-button__icon,
  .base-button.activated.activated .base-button__text {
    opacity:.25
  }
  .base-button__icon+.base-button__text {
    margin-left:var(--spacing-200)
  }
  .base-button__text {
    position:relative;
    z-index:2;
    width:100%
  }
  .base-button__loader {
    position:absolute;
    z-index:1;
    top:50%;
    right:50%;
    transform:translate3d(50%,-50%,0)
  }
  /* Misc */
  .blurred-background {
    position: relative;
    z-index: 0;
    padding: var(--spacing-200) var(--spacing-300);
    color: var(--theme-text-color);
    backdrop-filter: blur(8px);
  }
  .blurred-background::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: var(--mj-corners);
    background-color: var(--theme-text-background-color);
    width: 100%;
    height: 100%;
    opacity: .5;
  }

  @keyframes loading {
    0% {
      opacity:.5
    }
    50% {
      opacity:1
    }
    to {
      opacity:.5
    }
  }
  @keyframes fadeIn {
    0% {
      transform:translate3d(0,4px,0) scale(.95);
      opacity:0
    }
    to {
      transform:translateZ(0) scale(1);
      opacity:1
    }
  }
  @keyframes slideIn {
    0% {
      transform:translate3d(0,6px,0);
      opacity:0
    }
    to {
      transform:translateZ(0);
      opacity:1
    }
  }
  @keyframes slideInBig {
    0% {
      transform:translate3d(0,-16px,0);
      opacity:0
    }
    to {
      transform:translateZ(0);
      opacity:1
    }
  }
  @keyframes slideUp {
    0% {
      opacity:1;
      transform:translate3d(0,100%,0)
    }
    to {
      opacity:1;
      transform:translateZ(0)
    }
  }
  @keyframes buttonFade {
    0% {
      background-color:var(--theme-primary-color);
      color:#fff;
      border-color:var(--theme-primary-color)
    }
    to {
      background-color:rgba(0,0,0,0);
      color:var(--theme-primary-color);
      border-color:rgba(0,0,0,0)
    }
  }
  @keyframes slideLeft {
    0% {
      transform:translate3d(8px,0,0);
      opacity:0
    }
    to {
      transform:translateZ(0);
      opacity:1
    }
  }

  /*=============== Media =================*/
  @media(min-width:600px) {
    .LogoImage.is-mobile {
      display:none
    }
    .LogoImage.is-desktop {
      display:block
    }
    .StoreCard {
      max-width:360px
    }
  }
  @media screen and (max-width:680px) {
    .order-lookup {
      padding:var(--spacing-400)
    }
    .order-lookup__content {
      padding:var(--spacing-200)
    }
    .popper__content-wrapper {
      left:0!important
    }
  }
  @media screen and (max-width:450px) {
    .order-lookup .popper__content-wrapper {
      margin-left:calc(22vw - .65rem);
      transform:translate3d(-90vw,-157px,0)!important
    }
    .order-lookup .pop-container {
      max-width:90vw
    }
  }

}
