.modal-dialog {
  --md-bg-color: var(--global--color-primary);
  --md-bg-color-accent: var(--global--color-secondary);

  pointer-events: none;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -50;
  display: flex;
  height: 100dvh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0);
  outline: 2px solid transparent;
  outline-offset: 2px !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-dialog-opened,
.js-modal-opened .js-modal-dialog {
  pointer-events: auto;
  visibility: visible;
  z-index: 50;
  opacity: 1;
}

.modal-dialog-opened .modal-dialog-overlay,
.js-modal-opened .js-modal-dialog .modal-dialog-overlay {
  opacity: 1;
}

.modal-dialog-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  scrollbar-width: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0);
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-dialog-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 0;
  backdrop-filter: blur(5px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.modal-dialog.type-slideout {
  z-index: 50;
  justify-content: flex-end;
  background-color: transparent;
}

.modal-dialog.type-slideout .modal-dialog-content {
  position: absolute;
  right: 0;
  z-index: 50;
  height: 100%;
  transform: translate(100%, 0px);
  background-color: var(--md-bg-color);
}
.js-modal-opened .js-modal-dialog .modal-dialog-content {
  bottom: 0;
  top: 0;
  max-height: 90dvh;
}
.modal-dialog.modal-dialog-opened .modal-dialog-content,
.js-modal-opened .js-modal-dialog .modal-dialog-content {
  transform: none !important;
}

.modal-dialog.type-modal {
  z-index: 50;
  justify-content: flex-end;
}
.modal-dialog.modal-dialog-alert, .modal-dialog.modal-dialog-alert .modal-dialog-content {
  z-index: 100;
}
.modal-dialog-content.flex {
  display: flex;
  flex-direction: column;
}
.modal-dialog-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 360px) {
  .modal-dialog-content.js-mini-cart-content {
    width: 340px;
  }
}

@media (min-width: 768px) {

  .modal-dialog.type-modal {
    justify-content: center;
  }

  .modal-dialog-content.content-shop {
    width: 640px;
  }
  .modal-dialog-content.js-content-modal-dialog {
    width: 600px;
  }
  .modal-dialog-content.content-large {
    width: 483px;
  }
  .modal-dialog-content.content-medium {
    width: 376px;
  }
  .modal-dialog-content.content-small {
    width: 362px;
  }
  .modal-dialog-content.js-mini-cart-content {
    width: 478px;
  }
  .modal-shop-the-look-tiles .modal-dialog-overlay, .modal-shop-the-look-slideshow .modal-dialog-overlay {
    background-color: rgba(0, 0, 0, 0.32);
  }
  .js-modal-opened .js-modal-dialog .modal-dialog-content {
    max-height: 100vh;
  }
}
@media (min-width: 1024px) {
  .modal-dialog-content.js-content-modal-dialog {
    width: 720px;
  }
  .modal-dialog-content.js-content-width-50 {
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .js-modal-opened .js-modal-dialog .modal-dialog-content {
    height: 80dvh;
    top: unset;

  }
}
@media (max-width: 767px) {

  .modal-dialog.type-slideout:not(.js-modal-dialog) .modal-dialog-content {
    bottom: 0;
    right: auto;
    height: fit-content;
    max-height: 90dvh;
    transform: translate(0px, 100%);
  }
  .modal-dialog.type-modal .modal-dialog-content {
    position: absolute;
    bottom: 0;
    height: fit-content;
    max-height: 90dvh;
    width: 100%;
    transform: translate(0px, 100%);
  }
  .modal-dialog.type-slideout.modal-dialog-mini-cart .modal-dialog-content {
    bottom: auto !important;
    right: 0 !important;
    height: 100% !important;
    max-height: 100% !important;
    transform: translate(100%, 0px);
  }

  .modal-view_colours .modal-dialog-content,
  .modal-dialog-pay-later .modal-dialog-content,
  .modal-dialog-view-all-sets .modal-dialog-content,
  .modal-dialog-find-in-store .modal-dialog-content {
    max-height: 80dvh !important;
  }
}
.modal-dialog-content-header {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--md-bg-color);
  padding: 1.5rem 1rem;
}
.modal-dialog-content-header.default-layout {
  padding: 1rem;
  justify-content: space-between;
}

.modal-dialog-content-header.sticky {
  position: sticky;
  top: 0;
}
.js-close-modal-dialog {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 1rem;
  height: 1rem;
  z-index: 1;
}
.js-close-modal-button {
  padding: .5rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: .5rem;
}
.js-close-modal-button .icon {
  width: .75rem;
  height: .75rem;
}
@media (min-width: 1024px) {
  .js-close-modal-button {
    right: 2.5rem;
    top: 2.5rem;
  }
  .js-close-modal-button .icon {
    width: 1rem;
    height: 1rem;
  }
}
.modal-dialog-content-header.default-layout .js-close-modal-dialog {
  position: relative;
  inset: unset;
}
.js-close-modal-dialog .icon {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
}
.modal-dialog-heading-title {
  color: var(--text-color-primary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0;
}
.modal-dialog-inner {
  border-top: 1px solid rgba(0,0,0,.08);
  padding: 1.5rem 0;
}
.modal-dialog-inner.default-layout {
  padding: 1rem;
  margin: 0;
}
.js-content-modal-dialog .modal-dialog-inner {
  padding: 1.5rem 1rem;
  margin: 0 !important;
}
.modal-dialog-inner.position-top {
  padding-top: 0 !important;
}
.modal-dialog-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--md-bg-color-accent);
  padding: 1.5rem;
}

.modal-boxed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /*overflow-x: hidden;*/
  width: 100%;
}
.modal-boxed .image-swiper {
  overflow: visible !important;
}
.modal-dialog-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .modal-dialog-content-header:not(.default-layout) {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
  .js-close-modal-dialog {
    top: 2.5rem;
    right: 2.5rem;
  }
  .modal-dialog-inner:not(.default-layout) {
    padding-bottom: 2.5rem;
    margin:0 2.5rem;
  }
  .modal-dialog-content-header.default-layout {
    padding: 1.5rem;
  }
  .modal-dialog-inner.default-layout {
    padding: 1.5rem;
  }
  .js-content-modal-dialog .modal-dialog-inner {
    padding: 5rem;
  }
}
.js-modal-dialog-trigger {
  position: relative;
}
.modal-text-block {
  margin-bottom: 1.5rem;
}
.modal-text-block * {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.modal-text-block p:last-child {
  margin: 0;
}
.modal-swiper-container {
  display: flex;
  flex-direction: column;
  min-height: 183px;
}
.modal-info-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-info-container + .modal-info-container {
  border-top:1px solid rgba(0,0,0,.08);
  padding-top: 1.5rem;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-header.modal-header-layout-traditional {
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.modal-dialog-image-wrapper {
  aspect-ratio: 4/5;
}
.modal-dialog-image-wrapper.small {
  max-width: 100px;
  width: 100px;
  background-color: var(--md-bg-color-accent);
}
.modal-dialog-image-wrapper figure {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
}
.modal-dialog-image-wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.modal-header .modal-dialog-heading-title {
  display: block;
  width: fit-content;
  color: #000000;
  text-transform: uppercase;
}
.modal-dialog-heading-title .heading-description {
  color: rgb(136,136,136);
  margin-left: .25rem;
}
.button .icon {
  width: 1rem;
  height: 1rem;
  display: block;
}
.modal-info-block {
  margin-top: 1rem;
  width: 100%;
}
.modal-info-block *, .modal-inner-info-container * {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 500;
}
.color-info-block {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.color-info-block .color-name {
  display: block;
}
.modal-inner-info-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-inner-info-container .modal-header {
  margin-bottom: .75rem;
}
.modal-inner-info-container .fs-variant-select {
  width: 98px;
}
.modal-inner-info-container .fs-variant-select .fs-option-label {
  width: 100%;
  font-weight: 400;
  text-align: center;
}
.js-button-add-to-cart, .js-button-view-details {
  margin-top: 1.5rem;
}
.modal-info-list {
  gap: 1.5rem;
}
.modal-info-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-info-list__item .description {
  font-weight: 400;
}
.modal-container {
  width: 100%;
}
@media (min-width: 768px) {
  .modal-container {
    height: calc(100dvh - 160px);
  }
}
.modal-section {
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1 1 0;
}
.modal-notification-panel {
  margin-top: 1.5rem;
  padding: 1.5rem;
}
.modal-notification-heading .app-heading-title {
  text-transform: capitalize;
  margin-bottom: .75rem;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.modal-column {
  flex-direction: column;
  display: flex;
  flex: 1 1 0;
  position: relative;
}
.modal-column > .column-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
.modal-sticky-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 10;
  padding: 1.5rem 1rem;
  background-color: var(--md-bg-color);
}
@media (min-width: 768px) {
  .modal-column > .column-container {
    height: calc(100% - 88px);
  }
  .modal-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .modal-sticky-footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .modal-dialog-container {
    padding: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .modal-dialog-container {
    padding: 5rem;
  }
}
@media (max-width: 1023px) {
  .modal-dialog-container {
    height: 100%;
  }
  .js-search-results-show-case {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.modal-dialog-form {
  height: 100%;
  width: 100%;
}
