.swiper-widget {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.swiper-navigation,
.swiper-scrollbar,
.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
}

.swiper-container-initialized .swiper-navigation,
.swiper-container-initialized .swiper-scrollbar,
.swiper-container-initialized .swiper-button-next,
.swiper-container-initialized .swiper-button-prev {
  opacity: 1;
}
.swiper {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 0;
  height: 100%;
  overflow: hidden;
  list-style: none;
}
.swiper.flex {
  display: flex;
}
.swiper-container {
  margin-left:auto;
  margin-right:auto;
  position:relative;
  overflow:hidden;
  z-index:1
}
.swiper-container .swiper-slide figure {
  line-height:0
}
.swiper-container .app-lightbox-content-source {
  display:none
}
.swiper-container-no-flexbox .swiper-slide {
  float:left
}
.swiper-container-vertical>.swiper-wrapper {
  flex-direction:column
}
.swiper-wrapper {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display:flex;
  transition-property:transform;
  box-sizing:content-box;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform:translateZ(0)
}
.swiper-container-multirow>.swiper-wrapper {
  flex-wrap:wrap
}
.swiper-container-free-mode>.swiper-wrapper {
  transition-timing-function:ease-out;
  margin:0 auto
}
.swiper-slide {
  flex-shrink:0;
  width:100%;
  height:100%;
  position:relative;
  display: block;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform,height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height:auto
}
.swiper-container-autoheight .swiper-wrapper {
  align-items:flex-start;
  transition-property:transform,height
}
.swiper-container .swiper-notification {
  position:absolute;
  left:0;
  top:0;
  pointer-events:none;
  opacity:0;
  z-index:-1000
}
.swiper-container-horizontal {
  touch-action:pan-y
}
.swiper-container-vertical {
  touch-action:pan-x
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -45px;
  z-index: 10;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity:.35;
  cursor:auto;
  pointer-events:none
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

@media (min-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: -4rem;
  }
}

.swiper-button-next:not(.swiper-button-disabled), .swiper-button-prev:not(.swiper-button-disabled) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.swiper-button-prev {
  right: 3.5rem;
}

@media (min-width: 768px) {

  .swiper-button-prev {
    right: 2.5rem;
  }
}

.swiper-button-next {
  right: 1rem;
}

@media (min-width: 768px) {

  .swiper-button-next {
    right: 0;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 1.75rem;
  left: 0;
  right: 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  min-height: 1.5rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .swiper-pagination {
    bottom: 0.75rem;
  }
}
.swiper-pagination.swiper-pagination-hidden {
  opacity:0
}
.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom:5px;
  left:0;
  width:100%
}
.swiper-pagination-bullet {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  height: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgba(75, 85, 99, 1);
  background-color: rgba(255, 255, 255, 1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.swiper-pagination-bullet-active {
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 1);
}
.swiper-pagination-fraction {
  color:#000
}
button.swiper-pagination-bullet {
  border:none;
  margin:0;
  padding:0;
  box-shadow:none;
  appearance:none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor:pointer
}
.swiper-pagination-white .swiper-pagination-bullet {
  background:#fff
}
.swiper-pagination-bullet-active {
  opacity:1
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background:#fff
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background:#000
}
.swiper-container-vertical>.swiper-pagination-bullets {
  right:10px;
  top:50%;
  transform:translate3d(0,-50%,0)
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:5px 0;
  display:block
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0 6px
}
.swiper-pagination-progressbar {
  background:rgba(0,0,0,.25);
  position:absolute
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background:#000;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  transform:scale(0);
  transform-origin:left top
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin:right top
}
.swiper-container-horizontal>.swiper-pagination-progressbar {
  width:100%;
  height:4px;
  left:0;
  top:0
}
.swiper-container-vertical>.swiper-pagination-progressbar {
  width:4px;
  height:100%;
  left:0;
  top:0
}
.swiper-pagination-progressbar.swiper-pagination-white {
  background:hsla(0,0%,100%,.5)
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background:#fff
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background:#000
}
.swiper-container-3d {
  perspective:1200px
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style:preserve-3d
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:10
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image:linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image:linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image:linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image:linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  -ms-perspective:1200px
}
.swiper-container-cube,
.swiper-container-flip {
  overflow:visible
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events:none;
  z-index:1
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events:none
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events:auto
}
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index:0;
  backface-visibility:hidden
}
.swiper-container-cube .swiper-slide {
  visibility:hidden;
  transform-origin:0 0;
  width:100%;
  height:100%
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin:100% 0
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events:auto;
  visibility:visible
}
.swiper-container-cube .swiper-cube-shadow {
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:.6;
  filter:blur(50px);
  z-index:0
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function:ease-out
}
.swiper-container-fade .swiper-slide {
  pointer-events:none;
  transition-property:opacity
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events:none
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events:auto
}
.swiper-zoom-container {
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center
}
.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
  max-width:100%;
  max-height:100%;
  -o-object-fit:contain;
  object-fit:contain
}
.swiper-scrollbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  height: 0.125rem;
  width: 100%;
  cursor: pointer;
  border-radius: 9999px;
  background-color: rgba(244, 244, 244, 1);
}

@media (min-width: 768px) {

  .swiper-scrollbar {
    margin-top: 50px;
    max-width: 344px;
  }
}

@media (max-width: 767px) {

  .swiper-scrollbar {
    width: calc(100% - 32px);
  }
}
.swiper-container-horizontal>.swiper-scrollbar {
  position:absolute;
  left:1%;
  bottom:3px;
  z-index:50;
  height:5px;
  width:98%
}
.swiper-container-vertical>.swiper-scrollbar {
  position:absolute;
  right:3px;
  top:1%;
  z-index:50;
  width:5px;
  height:98%
}
.swiper-scrollbar-drag {
  height:100%;
  width:100%;
  position:relative;
  background:rgba(0,0,0,.5);
  border-radius:10px;
  left:0;
  top:0
}
.swiper-scrollbar-cursor-drag {
  cursor:move
}
.app-pagination-position-outside .swiper-container {
  padding-bottom:30px
}
.app-pagination-position-outside .app-swiper-button {
  top:calc(50% - 30px / 2)
}
.app-swiper {
  position:relative
}
.app-main-swiper {
  position:static
}
.app-arrows-position-outside .swiper-container {
  width:calc(100% - 60px)
}
.app-arrows-position-outside .app-swiper-button-prev {
  left:0
}
.app-arrows-position-outside .app-swiper-button-next {
  right:0
}
.swiper-image-stretch .swiper-slide .swiper-slide-image {
  width:100%
}
.app-swiper-button {
  position:absolute;
  display:inline-flex;
  z-index:1;
  cursor:pointer;
  font-size:25px;
  color:hsla(0,0%,93.3%,.9);
  top:50%;
  transform:translateY(-50%)
}
.app-swiper-button svg {
  fill:hsla(0,0%,93.3%,.9);
  height:1em;
  width:1em
}
.app-swiper-button-prev {
  left:10px
}
.app-swiper-button-next {
  right:10px
}
.app-swiper-button.swiper-button-disabled {
  opacity:.3
}
.swiper-container-cube .app-swiper-button {
  transform:translate3d(0,-50%,1px)
}
.swiper-lazy-preloader {
  width:42px;
  height:42px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-21px;
  margin-top:-21px;
  z-index:10;
  transform-origin:50%;
  animation:swiper-preloader-spin 1s steps(12) infinite
}
.swiper-lazy-preloader:after {
  display:block;
  content:"";
  width:100%;
  height:100%;
  background-size:100%;
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E") no-repeat 50%
}
.swiper-lazy-preloader-white:after {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}
@keyframes swiper-preloader-spin {
  to {
    transform:rotate(1turn)
  }
}
.swiper-notification {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  opacity: 0;
}

.swiper-free-mode > .swiper-wrapper {
  margin-left: auto;
  margin-right: auto;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}

.swiper-slide-thumb-active {
  bottom: 0.25rem;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
}

.swiper-button-lock {
  pointer-events: none;
  display: none;
}

.swiper-scrollbar-lock {
  pointer-events: none;
  display: none;
}

.swiper-pagination-lock {
  pointer-events: none;
  display: none;
}
.carousel-swiper-product .swiper-button-prev,
.carousel-swiper-product .swiper-button-next {
  visibility: hidden;
  top: 50%;
  z-index: 10;
  width: fit-content;
  transform: translate(0, -50%);
  background-color: transparent !important;
  opacity: 0;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) and (pointer: fine) {

  .group:hover .carousel-swiper-product .swiper-button-prev,.group:hover .carousel-swiper-product .swiper-button-next {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 767px) {

  .carousel-swiper-product .swiper-button-prev,
  .carousel-swiper-product .swiper-button-next {
    display: none;
  }
}
.carousel-swiper-product .swiper-button-prev svg, .carousel-swiper-product .swiper-button-next svg {
  width: 1rem !important;
  height: 1rem !important;
  --text-opacity: 1;
  color: rgba(255, 255, 255, var(--text-opacity, 1));
}

.carousel-swiper-product .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-top: 0;
  min-height: 0.125rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32);
}

.carousel-swiper-product .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  display: block;
  height: 0.125rem;
  width: 100%;
  transform-origin: left;
  background-color: rgba(255, 255, 255, 1);
}
.carousel-swiper-modal-gallery .swiper-button-prev,
.carousel-swiper-modal-gallery .swiper-button-next {
  bottom: 0;
  top: auto;
  display: flex;
  height: 2.75rem;
  width: 2.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgba(209, 213, 219, 1);
  background-color: rgba(255, 255, 255, 1);
}
.carousel-swiper-modal-gallery .swiper-button-prev {
  left: 0;
}

.carousel-swiper-modal-gallery .swiper-button-next {
  right: 0;
}

.carousel-swiper-plp-card-image.black-face {
  background-color: #000;
}

.carousel-swiper-plp-card-image .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  top: initial;
  z-index: 1;
  margin-top: 0;
  min-height: 0.125rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32);
}

.carousel-swiper-plp-card-image .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  display: block;
  height: 0.125rem;
  width: 100%;
  transform-origin: left;
  background-color: rgba(255, 255, 255, 1);
}
.carousel-swiper-plp-card-image .swiper-button-prev,
.carousel-swiper-plp-card-image .swiper-button-next {
  top: 50%;
  width: 1rem;
  height: 1rem;
  background-color: transparent !important;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) and (pointer: fine) {

  .group:hover .carousel-swiper-plp-card-image .swiper-button-prev,.group:hover .carousel-swiper-plp-card-image .swiper-button-next {
    transform: translate(0px, 0px);
  }
}
.carousel-swiper-plp-card-image .swiper-button-prev svg, .carousel-swiper-plp-card-image .swiper-button-next svg {
  width: 1rem;
  height: 1rem;
  color: rgba(255, 255, 255, 1);
}

.carousel-swiper-plp-card-image .swiper-button-prev {
  left: 1rem;
  transform: translate(-2.5rem, 0px);
}

.carousel-swiper-plp-card-image .swiper-button-next {
  right: 1rem;
  transform: translate(2.5rem, 0px);
}

.carousel-swiper-plp-card-image .swiper-button-disabled {
  opacity: 1 !important;
}

.carousel-swiper-topbar .swiper-slide {
  visibility: hidden;
  opacity: 0 !important;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.carousel-swiper-topbar .swiper-slide-active {
  visibility: visible;
  opacity: 1 !important;
}
.carousel-swiper-topbar .swiper-button-prev,
.carousel-swiper-topbar .swiper-button-next {
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  transform: translate(0px, -50%);
  border-radius: 0;
  opacity: 1;
}
@media (hover: hover) and (pointer: fine) {

  .carousel-swiper-topbar .swiper-button-prev:hover,
  .carousel-swiper-topbar .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.carousel-swiper-topbar .swiper-button-prev svg, .carousel-swiper-topbar .swiper-button-next svg {
  width: 0.75rem;
  height: 0.75rem;
  color: rgba(255, 255, 255, 1);
}

.carousel-swiper-topbar .swiper-button-prev {
  left: -1.75rem;
  right: auto;
}

.carousel-swiper-topbar .swiper-button-next {
  right: -1.75rem;
  left: auto;
}
.js-carousel-swiper-gallery {
  overflow: hidden;
  display: flex;
}
.swiper-slide-image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.swiper-slide-image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide-image-wrapper.aspect-square {
  aspect-ratio: 1/1;
}
.swiper-slide.carousel-slide {
  height: auto;
}

@media (max-width: 1023px) {
  .swiper-slide.carousel-slide {
    width: 270px;
  }
  .swiper-slide.carousel-slide:first-child {
    margin-left: 3rem;
  }
  .swiper-slide.carousel-slide:last-child {
    margin-right: 3rem !important;
  }
}
@media (max-width: 767px) {
  .swiper-slide.carousel-slide {
    width: 280px !important;
  }
}
.swiper-slide-image-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem 0 1rem;
  flex: 1 1 0;
}
.swiper-slide-image-button {
  margin-top: auto;
}
.carousel-swiper-shop-the-look-left.swiper-container-fade .swiper-slide,
.carousel-swiper-shop-the-look-right.swiper-container-fade .swiper-slide {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-swiper-shop-the-look-left.swiper-container-fade .swiper-slide.swiper-slide-active,
.carousel-swiper-shop-the-look-right.swiper-container-fade .swiper-slide.swiper-slide-active {
  pointer-events: auto;
  z-index: 7;
  opacity: 1 !important;
}
.carousel-swiper-shop-the-look-right.only-block-shop-the-look-right .swiper-button-next,
.carousel-swiper-shop-the-look-right.only-block-shop-the-look-right .swiper-button-prev {
  display: none;
}

.carousel-swiper-shop-the-look-right .swiper-button-next,
.carousel-swiper-shop-the-look-right .swiper-button-prev {
  top: 50%;
  display: flex;
  width: 2.75rem;
  height: 2.75rem;
  --translate-y: -50%;
  transform: translate(var(--translate-x), var(--translate-y));
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(5px);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) and (pointer: fine) {

  .carousel-swiper-shop-the-look-right .swiper-button-next:hover,
  .carousel-swiper-shop-the-look-right .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

@media (max-width: 1023px) {

  .carousel-swiper-shop-the-look-right .swiper-button-next,
  .carousel-swiper-shop-the-look-right .swiper-button-prev {
    display: none;
  }
}
.carousel-swiper-shop-the-look-right .swiper-button-next svg,
.carousel-swiper-shop-the-look-right .swiper-button-prev svg {
  width: 1rem;
  height: 1rem;
  color: rgba(255, 255, 255, 1);
}
.carousel-swiper-shop-the-look-right .swiper-button-next:hover,
.carousel-swiper-shop-the-look-right .swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(2px);
}
.carousel-swiper-shop-the-look-right .swiper-button-next:hover svg,
.carousel-swiper-shop-the-look-right .swiper-button-prev:hover svg {
  color: rgba(0, 0, 0, 1);
}

.carousel-swiper-shop-the-look-right .swiper-button-next.swiper-button-disabled,
.carousel-swiper-shop-the-look-right .swiper-button-prev.swiper-button-disabled {
  background-color: rgba(0, 0, 0, 0.32);
}

.carousel-swiper-shop-the-look-right .swiper-button-next.swiper-button-disabled svg,
.carousel-swiper-shop-the-look-right .swiper-button-prev.swiper-button-disabled svg {
  color: rgba(0, 0, 0, 0.32);
}
.carousel-swiper-shop-the-look-right .swiper-button-prev {
  left: 1.5rem;
  --translate-x: -5rem;
  transform: translate(var(--translate-x), var(--translate-y))
}

.carousel-swiper-shop-the-look-right .swiper-button-next {
  right: 1.5rem;
  --translate-x: 5rem;
  transform: translate(var(--translate-x), var(--translate-y));
}

.carousel-swiper-shop-the-look-right:hover .swiper-button-next,
.carousel-swiper-shop-the-look-right:hover .swiper-button-prev {
  --translate-x: 0px;
  transform: translate(var(--translate-x), var(--translate-y));
}
.carousel-swiper-shop-the-look-right .swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  top: initial;
  z-index: 1;
  margin-top: 0;
  min-height: 0.125rem;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.32);
}

.carousel-swiper-shop-the-look-right .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  display: block;
  height: 0.125rem;
  width: 100%;
  transform-origin: left;
  background-color: rgba(255, 255, 255, 1);
}
.swiper.carousel-swiper-shop-the-look-right {
  height: 100%;
  overflow: hidden;
}
