<div class="carousel-swiper-topbar">
  <div class="swiper flex js-carousel-swiper-topbar">
    <div class="swiper-wrapper">
      <!-- Slide -->
      <div class="swiper-slide topbar-slide">
        <a href="/pages/shipping-delivery" class="topbar-link">Free Shipping &amp; 45 Day Returns*</a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide topbar-slide">
        <a href="/pages/shipping-delivery" class="topbar-link">INDULGE YOUR WILD SIDE. SHOP NEW ARRIVALS</a>
      </div>
    </div>
  </div>
</div>
