.product-info-header {
  display: flex;
  justify-content: space-between;
}
.product-info-heading {
  flex: 1 1 0;
  margin: 1.5rem 0;
}
.product-info-heading .heading-title {
  margin-bottom: .25rem;
}
.js-wishlist-toggle {
  height: 1rem;
  width: 1rem;
  margin-top: 1.75rem;
}
.js-wishlist-toggle .icon {
  width: 100%;
  height: 100%;
  color: #000000;
}
.product-review {
  min-height: 1.75rem;
  padding-bottom: 1.5rem;
}
.product-info-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  display: flex;
  gap: .375rem;
}
.product-info-discount-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: .5rem;
  row-gap: .25rem;
  padding-bottom: 1.5rem;
}
.product-info-discount {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 1.25rem;
  gap: .375rem;
  padding: .125rem .375rem;
  background-color: rgb(234, 33, 33);
  color: rgb(255, 255, 255);
}
.product-info-discount .discount {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 500;
}
