@let items = collectionItem();
@if (items !== null) {

  <span class="color-title">{{ itemColor() }}</span>

  <div class="select-item-buttons-group colors-list" role="radiogroup">

    @for (item of items; track $index) {

      <!-- Color Button -->
      <button
        (click)="colorSelected(item.colorName)"
        class="select-item-button"
        [class.active]="item.colorName === itemColor()"
        [class]="item.colorClass"
        type="button"
        [title]="item.colorName"></button>
    }
  </div>
}
