<div #carousel class="swiper carousel-swiper-hero-carousel js-hero-carousel swiper-backface-hidden">
  <div class="swiper-wrapper">
    <!-- Slide -->
    <div class="swiper-slide">
      <a [routerLink]="['/join-honey']" class="slide-image-wrapper">
        <img src="/assets/images/common/Header_Desktop.jpg" alt="" fetchpriority="high" loading="eager">
      </a>
      <!-- Content -->
      <div class="hero-carousel-content-wrapper">
        <div class="hero-carousel-content">
          <div class="content-inner">
            <h2 class="heading" role="heading">The Honey Club</h2>
            <p class="content-text">
              Friends with benefits, only better. Sign up for perks such as early access, free gifts,
              and exclusive concierge services.
            </p>
            <!-- Button -->
            <a [routerLink]="['/join-honey']" class="hero-button button-link-underline">Join Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide -->
    <div class="swiper-slide">
      <a [routerLink]="['/collections', 'chastity-navy-lingerie-collection']" class="slide-image-wrapper">
        <img src="/assets/images/common/video_buffer.jpg" alt="" fetchpriority="high" loading="eager">
      </a>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
